Repository lancedb/lancedb, pull requests merged in 2024-05, with the labels that each got.

#1290 fix(nodejs): add better error handling when missing embedding functions
  node/src/arrow.ts
  node/src/index.ts
  node/src/sanitize.ts
  node/src/test/test.ts
  nodejs/lancedb/arrow.ts
Labels: bug, typescript

#1307 fix: remove accidental console.log
  node/src/arrow.ts
  nodejs/lancedb/arrow.ts
Labels: bug, typescript

#1284 feat: support IVF_HNSW_SQ
  rust/ffi/node/src/error.rs
  rust/ffi/node/src/neon_ext/js_object_ext.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/vector.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1302 ci: make preview releases
  .bumpversion.cfg
  .bumpversion.toml
  .github/release.yml
  .github/release_notes.json
  .github/workflows/cargo-publish.yml
  .github/workflows/make-release-commit.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python-make-release-commit.yml
  .github/workflows/upload_wheel/action.yml
  ci/bump_version.sh
  ci/check_breaking_changes.py
  ci/semver_sort.py
  docs/src/basic.md
  nodejs/npm/win32-x64-msvc/package.json
  python/.bumpversion.cfg
  python/.bumpversion.toml
  python/Cargo.toml
  python/pyproject.toml
  release_process.md
Labels: Python, ci

#1257 feat: add the optimize function to nodejs and async python
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/ffi/node/src/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1317 feat: upgrade lance to 0.11.0
  .github/workflows/python.yml
  .github/workflows/rust.yml
  Cargo.toml
  nodejs/src/table.rs
  python/pyproject.toml
  python/src/table.rs
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1318 ci: pin aws sdk versions
  rust/lancedb/Cargo.toml
Labels: Rust, ci

#1320 fix: get the last stable release before we've added a new tag
  ci/bump_version.sh
Labels: bug

#1321 chore: sync bumpversion.toml with actual version
  .bumpversion.toml
Labels: chore

#1322 chore: remove working-directory from pypi upload step
  .github/workflows/upload_wheel/action.yml
Labels: chore

#1319 fix: parse index_stats for scalar index
  rust/lancedb/Cargo.toml
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/vector.rs
  rust/lancedb/src/table.rs
Labels: bug, Rust

#1314 feat: support IVF_HNSW_PQ
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/vector.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1311 chore: replace semver dependency with packaging
  python/pyproject.toml
  python/python/lancedb/embeddings/bedrock.py
  python/python/lancedb/embeddings/gemini_text.py
  python/python/lancedb/embeddings/imagebind.py
  python/python/lancedb/embeddings/transformers.py
  python/python/lancedb/pydantic.py
  python/python/lancedb/rerankers/cohere.py
  python/python/tests/test_pydantic.py
Labels: Python, chore

#1330 chore: clippy warnings inside java bindings
  java/core/lancedb-jni/src/error.rs
  java/core/lancedb-jni/src/ffi.rs
Labels: bug, chore

#1333 fix: the bug of async connection context manager
  python/python/lancedb/db.py
  python/python/tests/test_db.py
Labels: bug, Python

#1308 feat: js embedding registry
  .pre-commit-config.yaml
  nodejs/__test__/arrow.test.ts
  nodejs/__test__/connection.test.ts
  nodejs/__test__/registry.test.ts
  nodejs/__test__/table.test.ts
  nodejs/biome.json
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/tsconfig.json
Labels: enhancement

#1337 feat(nodejs): add compatibility across arrow versions
  nodejs/__test__/registry.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/sanitize.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/package.json
Labels: enhancement

#1338 feat: upgrade lance to 0.11.1
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1335 feat: add support for new cohere models in cohere and bedrock embedding functions
  python/python/lancedb/embeddings/base.py
  python/python/lancedb/embeddings/bedrock.py
  python/python/lancedb/embeddings/cohere.py
Labels: enhancement, Python

#1323 ci: don't update package locks if we are not releasing node
  .github/workflows/make-release-commit.yml
Labels: ci, chore

#1275 feat(rust): openai embedding function
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/openai.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/embeddings/openai.rs
  rust/lancedb/tests/embedding_registry_test.rs
Labels: enhancement, Rust

#1310 fix: update broken blog link on readme
  README.md
Labels: bug

#1339 fix: error msg when query vector dim is wrong
  node/src/index.ts
  node/src/remote/index.ts
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Labels: bug, typescript, Rust

#1282 feat(nodejs): table.toArrow function
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
Labels: enhancement
