Repository lancedb/lancedb, pull requests merged in 2024-06, with the labels that each got.

#1350 feat(rust): allow to create execution plan on queries
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1343 fix(nodejs): better support for f16 and f64
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
Labels: bug

#1341 feat(nodejs): table.search functionality
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
Labels: enhancement

#1354 feat: add fast path to dataset reload
  rust/lancedb/src/table/dataset.rs
Labels: enhancement, Rust

#1355 feat: fast path for checkout_latest
  rust/lancedb/src/table/dataset.rs
Labels: enhancement, Rust

#1352 feat: make it possible to opt in to using the v2 format
  Cargo.toml
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/query.rs
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/query.py
  python/python/tests/test_db.py
  python/src/connection.rs
  python/src/query.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
  rust/lancedb/tests/embedding_registry_test.rs
Labels: enhancement, Python, Rust

#1357 feat: bump lance dependency to 0.12.1
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1360 chore: change build machine for linux arm
  .github/workflows/npm-publish.yml
Labels: chore

#1326 docs: add retriever guide, address minor onboarding feedbacks & enhancement
  docs/mkdocs.yml
  docs/src/basic.md
  docs/src/embeddings/default_embedding_functions.md
  docs/src/fts.md
  docs/src/guides/tables.md
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/hybrid_search/eval.md
  docs/test/md_testing.py
  python/python/tests/docs/test_embeddings_optional.py
Labels: documentation, Python

#1367 docs: fix example path
  docs/src/basic.md
Labels: documentation

#1364 fix: add status to remote listIndices return
  node/src/index.ts
Labels: bug, typescript

#1371 docs: add note about embedding api not being available on cloud
  docs/src/embeddings/embedding_functions.md
Labels: documentation

#1372 fix(java): the JVM crash when using jdk 8
  java/core/lancedb-jni/src/ffi.rs
Labels: bug

#1347 docs: llama-index integration
  docs/mkdocs.yml
  docs/src/integrations/llamaIndex.md
  docs/test/md_testing.py
Labels: documentation

#1377 fix: use JS naming convention in new index stats fields
  node/src/index.ts
  node/src/remote/index.ts
Labels: bug, typescript

#1351 feat(nodejs): merge insert
  nodejs/__test__/table.test.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/src/lib.rs
  nodejs/src/merge.rs
  nodejs/src/table.rs
  rust/lancedb/src/table/merge.rs
Labels: enhancement, Rust

#1366 docs: remove code-block:: python from docs
  python/python/lancedb/table.py
Labels: documentation, Python

#1381 feat: upgrade lance to 0.12.2-beta.2
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/build_mac_wheel/action.yml
  .github/workflows/build_windows_wheel/action.yml
  .github/workflows/python.yml
  .github/workflows/run_tests/action.yml
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1378 feat(nodejs): feature parity [1/N] - remote table
  .pre-commit-config.yaml
  nodejs/biome.json
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
  nodejs/package-lock.json
  nodejs/package.json
Labels: enhancement

#1389 chore(rust): lock toolchain & fix clippy
  rust-toolchain.toml
  rust/lancedb/src/polars_arrow_convertors.rs
Labels: Rust, chore

#1356 feat: enable stemming
  docs/src/fts.md
  python/python/lancedb/fts.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
Labels: enhancement, Python

#1380 feat(nodejs): feature parity [2/N] - add `table.name` and `lancedb.connect({args})`
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/table.rs
Labels: enhancement

#1396 fix(node): node build
  node/package.json
Labels: bug, typescript

#1390 feat(nodejs): feature parity [4/N] - add 'name' to 'IndexConfig' for 'listIndices'
  nodejs/__test__/table.test.ts
  nodejs/package-lock.json
  nodejs/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1391 feat(nodejs): feature parity [5/N] - add `query.filter()` alias
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
Labels: enhancement, Rust

#1398 ci(node): add description and keywords for lancedb package
  nodejs/package.json
Labels: ci

#1361 feat(nodejs): table.indexStats
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  rust/ffi/node/src/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, typescript, Rust

#1404 feat: upgrade to lance 0.13.0
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1400 docs: fixes polars formatting in docs
  docs/src/guides/tables.md
Labels: documentation

#1392 feat(nodejs): feature parity [6/N] - make public interface work with multiple arrow versions
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/sanitize.ts
  nodejs/lancedb/table.ts
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1413 docs: add openapi rest api page
  docs/mkdocs.yml
  docs/openapi.yml
  docs/requirements.txt
  docs/src/cloud/rest.md
Labels: documentation

#1410 feat: dynamodb commit store support
  .pre-commit-config.yaml
  docs/src/guides/storage.md
  nodejs/__test__/s3_integration.test.ts
  nodejs/biome.json
  nodejs/lancedb/remote/client.ts
  nodejs/package-lock.json
  nodejs/package.json
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/lancedb/util.py
  python/python/tests/test_s3.py
  rust/lancedb/Cargo.toml
  rust/lancedb/tests/object_store_test.rs
Labels: documentation, enhancement, typescript, Python, Rust
