Repository lancedb/lancedb, pull requests merged in 2024-12, with the labels that each got.

#1896 ci: fix failing python release
  .github/workflows/pypi-publish.yml
  .github/workflows/upload_wheel/action.yml
Labels: ci

#1890 ci: aarch64-pc-windows-msvc
  .github/workflows/npm-publish.yml
  ci/manylinux_node/build_vectordb.sh
  ci/sysroot-aarch64-pc-windows-msvc.sh
  ci/sysroot-x86_64-pc-windows-msvc.sh
Labels: ci

#1899 chore: fix ci on main
  python/python/tests/test_remote_db.py
Labels: Python, chore

#1878 feat: add multimodal capabilities for Voyage embedder
  python/python/lancedb/embeddings/voyageai.py
Labels: enhancement, Python

#1901 feat: add remote db uri path with folder prefix
  rust/lancedb/src/remote/client.rs
Labels: enhancement, Rust

#1906 feat(python): add support for Azure OpenAPI SDK
  docs/src/embeddings/available_embedding_models/text_embedding_functions/openai_embedding.md
  python/python/lancedb/embeddings/openai.py
Labels: enhancement, Python

#1851 feat: schema evolution APIs in all SDKs
  docs/src/guides/tables.md
  nodejs/__test__/table.test.ts
  nodejs/examples/basic.test.ts
  nodejs/src/table.rs
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/utils.rs
Labels: enhancement, Python, Rust

#1908 feat: upgrade to Lance v0.20.0
  Cargo.toml
  python/Cargo.toml
  python/pyproject.toml
  python/src/arrow.rs
  python/src/connection.rs
  python/src/error.rs
  python/src/index.rs
  python/src/lib.rs
  python/src/query.rs
  python/src/table.rs
Labels: enhancement, Python

#1905 feat(python)!: async-sync feature parity on Connections
  docs/src/guides/storage.md
  python/python/lancedb/__init__.py
  python/python/lancedb/background_loop.py
  python/python/lancedb/db.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: bug, enhancement, Python, breaking-change

#1910 chore: simplify arrow json conversion
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/utils.rs
Labels: Rust, chore

#1909 perf: re-use table instance during write
  python/python/lancedb/table.py
  rust/lancedb/src/table.rs
Labels: Python, Rust, performance

#1913 docs(rust): fix doctests
  rust/lancedb/src/connection.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/query.rs
Labels: documentation, Rust

#1912 ci: fix nodejs release jobs
  .github/workflows/npm-publish.yml
Labels: ci

#1807 feat: support FTS options on RemoteTable
  python/python/lancedb/index.py
  python/python/lancedb/remote/table.py
Labels: enhancement, Python

#1917 ci: upgrade version of upload-pages-artifact and deploy-pages
  .github/workflows/docs.yml
Labels: ci

#1918 fix: data type parsing
  rust/lancedb/src/utils.rs
Labels: bug, Rust

#1915 feat(python): support hybrid search in async sdk
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/tests/test_hybrid_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Python, Rust

#1919 ci: fix release
  node/package-lock.json
  node/package.json
  nodejs/package-lock.json
  nodejs/package.json
Labels: typescript, ci

#1922 fix: create_scalar_index in cloud
  python/python/lancedb/remote/table.py
  python/python/tests/test_remote_db.py
Labels: bug, Python

#1926 feat: support azure account name storage options in sync db.connect
  python/python/lancedb/__init__.py
  python/python/lancedb/remote/db.py
Labels: enhancement, Python

#1924 fix(nodejs): upgrade arrow versions
  nodejs/__test__/arrow.test.ts
  nodejs/__test__/registry.test.ts
  nodejs/__test__/table.test.ts
  nodejs/package-lock.json
  nodejs/package.json
Labels: bug

#1892 docs: better formatting for Node API docs
  docs/src/js/.nojekyll
  docs/src/js/classes/Connection.md
  docs/src/js/classes/Index.md
  docs/src/js/classes/MakeArrowTableOptions.md
  docs/src/js/classes/Query.md
  docs/src/js/classes/QueryBase.md
  docs/src/js/classes/RecordBatchIterator.md
  docs/src/js/classes/Table.md
  docs/src/js/classes/VectorColumnOptions.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/enumerations/WriteMode.md
  docs/src/js/functions/connect.md
  docs/src/js/functions/makeArrowTable.md
  docs/src/js/globals.md
  docs/src/js/interfaces/AddColumnsSql.md
  docs/src/js/interfaces/AddDataOptions.md
  docs/src/js/interfaces/ClientConfig.md
  docs/src/js/interfaces/ColumnAlteration.md
  docs/src/js/interfaces/ConnectionOptions.md
  docs/src/js/interfaces/CreateTableOptions.md
  docs/src/js/interfaces/FtsOptions.md
  docs/src/js/interfaces/IndexConfig.md
  docs/src/js/interfaces/IndexMetadata.md
  docs/src/js/interfaces/IndexOptions.md
  docs/src/js/interfaces/IndexStatistics.md
  docs/src/js/interfaces/IvfPqOptions.md
  docs/src/js/interfaces/OptimizeOptions.md
  docs/src/js/interfaces/RetryConfig.md
  docs/src/js/interfaces/TableNamesOptions.md
  docs/src/js/interfaces/TimeoutConfig.md
  docs/src/js/interfaces/UpdateOptions.md
  docs/src/js/interfaces/WriteOptions.md
  docs/src/js/namespaces/embedding/README.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunction.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunctionRegistry.md
  docs/src/js/namespaces/embedding/classes/TextEmbeddingFunction.md
  docs/src/js/namespaces/embedding/functions/LanceSchema.md
  docs/src/js/namespaces/embedding/functions/getRegistry.md
  docs/src/js/namespaces/embedding/functions/register.md
  docs/src/js/namespaces/embedding/interfaces/EmbeddingFunctionConfig.md
  docs/src/js/namespaces/embedding/type-aliases/OpenAIOptions.md
  docs/src/js/type-aliases/Data.md
  nodejs/package.json
  nodejs/typedoc.json
  nodejs/typedoc_post_process.js
Labels: documentation

#1923 feat: support offset in remote client
  python/python/tests/test_remote_db.py
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#1931 fix: support list of numpy f16 floats as query vector
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: bug, Python

#1933 feat: upgrade to lance prerelease 0.21.0b2
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1934 feat(node): support FTS options in nodejs
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/src/index.rs
Labels: enhancement, typescript

#1907 docs: add faq to cloud doc
  docs/mkdocs.yml
  docs/src/cloud/cloud_faq.md
Labels: documentation

#1936 feat: upgrade lance to 0.21.0b3
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1939 chore: bump Lance version to v0.21.0-beta.4
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#1946 chore: update lockfiles
  .github/workflows/make-release-commit.yml
  .github/workflows/npm-publish.yml
  node/package-lock.json
  nodejs/package-lock.json
  rust/lancedb/Cargo.toml
Labels: typescript, Rust, chore

#1960 ci(rust): check MSRV and upgrade toolchain
  .github/workflows/rust.yml
  Cargo.toml
  rust-toolchain.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/query.rs
Labels: Rust, ci

#1961 feat: upgrade lance to 0.21.0-beta.5
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1957 docs: improve optimization docs
  docs/mkdocs.yml
  docs/src/python/saas-python.md
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
Labels: documentation, Python

#1947 feat(python): add `bypass_vector_index` to sync api
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
Labels: enhancement, Python

#1953 feat(python): add `ignore_missing` to the async drop_table() method
  python/python/lancedb/db.py
  python/python/tests/test_db.py
Labels: enhancement, Python

#1955 feat: support IVF_FLAT, binary vectors and hamming distance
  docs/src/python/python.md
  docs/src/search.md
  docs/test/md_testing.py
  nodejs/src/util.rs
  python/python/lancedb/index.py
  python/python/lancedb/table.py
  python/python/tests/docs/test_binary_vector.py
  python/python/tests/test_index.py
  python/src/index.rs
  python/src/util.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/vector.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Labels: enhancement, Python, Rust

#1974 ci(node): remove hardcoded toolchain from typescript release build
  .github/workflows/npm-publish.yml
Labels: ci

#1978 feat: create IVF_FLAT on remote table
  python/python/lancedb/remote/table.py
Labels: enhancement, Python

#1979 feat: support IVF_FLAT on remote table in rust
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Rust

#1977 chore: add `dynamic = ["version"]` to pass build check
  python/pyproject.toml
Labels: Python, chore

#1945 docs: add new indexes to python docs
  docs/src/python/python.md
  python/python/lancedb/index.py
Labels: documentation, Python

#1940 feat: add hybrid search to node and rust SDKs
  nodejs/Cargo.toml
  nodejs/__test__/arrow.test.ts
  nodejs/__test__/rerankers.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/rerankers/index.ts
  nodejs/lancedb/rerankers/rrf.ts
  nodejs/src/lib.rs
  nodejs/src/query.rs
  nodejs/src/rerankers.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/query/hybrid.rs
  rust/lancedb/src/rerankers.rs
  rust/lancedb/src/rerankers/rrf.rs
Labels: enhancement, typescript, Rust

#1988 chore(python): fix typo of the synchronized checkout API
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
Labels: Python, chore

#1989 chore: bump pylance to 0.21.1b1
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore
