Repository lancedb/lancedb, pull requests merged in 2024-08, with the labels that each got.

#1488 docs: update examples docs
  docs/src/examples/index.md
Labels: documentation

#1494 ci: fix release by upgrading to Node 18
  ci/build_linux_artifacts.sh
  ci/build_linux_artifacts_nodejs.sh
  ci/manylinux_node/Dockerfile
  ci/manylinux_node/build_lancedb.sh
  ci/manylinux_node/build_vectordb.sh
  ci/manylinux_node/install_openssl.sh
  ci/manylinux_node/prepare_manylinux_node.sh
  ci/manylinux_nodejs/Dockerfile
  ci/manylinux_nodejs/install_openssl.sh
  ci/manylinux_nodejs/install_protobuf.sh
  ci/manylinux_nodejs/prepare_manylinux_node.sh
Labels: ci

#1503 fix(nodejs): address import issues in `lancedb` npm module
  nodejs/__test__/registry.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/sanitize.ts
Labels: bug

#1486 feat(python): add watsonx embeddings to registry
  docs/src/embeddings/default_embedding_functions.md
  python/pyproject.toml
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/watsonx.py
  python/python/tests/test_embeddings_slow.py
Labels: enhancement, Python

#1508 chore: update polars version range
  python/pyproject.toml
Labels: Python, chore

#1481 feat(python): multi-vector reranking support
  python/python/lancedb/rerankers/base.py
  python/python/lancedb/rerankers/cohere.py
  python/python/lancedb/rerankers/colbert.py
  python/python/lancedb/rerankers/cross_encoder.py
  python/python/lancedb/rerankers/jinaai.py
  python/python/lancedb/rerankers/linear_combination.py
  python/python/lancedb/rerankers/openai.py
  python/python/lancedb/rerankers/rrf.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python

#1512 docs: revamp example docs
  docs/mkdocs.yml
  docs/src/assets/colab.svg
  docs/src/assets/ghost.svg
  docs/src/assets/github.svg
  docs/src/assets/python.svg
  docs/src/examples/python_examples/build_from_scratch.md
  docs/src/examples/python_examples/multimodal.md
  docs/src/examples/python_examples/rag.md
  docs/test/requirements.txt
Labels: documentation

#1405 feat(python): support embedding functions in remote table
  python/python/lancedb/remote/table.py
Labels: enhancement, Python

#1509 feat(python): index config repr method
  python/python/tests/test_index.py
  python/src/index.rs
Labels: enhancement, Python

#1510 feat(python): optimize stats repr method
  python/python/tests/test_table.py
  python/src/table.rs
Labels: enhancement, Python

#1519 feat!: upgrade lance to 0.16
  Cargo.toml
  nodejs/Cargo.toml
  nodejs/lancedb/connection.ts
  nodejs/package-lock.json
  nodejs/src/connection.rs
  nodejs/src/table.rs
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/tests/test_table.py
  python/src/connection.rs
  python/src/table.rs
  rust/ffi/node/src/table.rs
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust, breaking-change

#1483 feat!: migrate FTS from tantivy to lance-index
  docs/src/fts.md
  nodejs/__test__/table.test.ts
  nodejs/examples/full_text_search.ts
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/examples/search.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/indices.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/src/index.rs
  nodejs/src/query.rs
  nodejs/tsconfig.json
  python/python/lancedb/query.py
  python/python/lancedb/rerankers/base.py
  python/python/lancedb/rerankers/cohere.py
  python/python/lancedb/rerankers/colbert.py
  python/python/lancedb/rerankers/cross_encoder.py
  python/python/lancedb/rerankers/jinaai.py
  python/python/lancedb/rerankers/linear_combination.py
  python/python/lancedb/rerankers/openai.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
  python/python/tests/test_fts.py
  python/python/tests/test_rerankers.py
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/full_text_search.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/scalar.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust, breaking-change

#1520 feat(python): add to_list to async api
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#1521 docs: add lancedb embedding fcn on cloud docs
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
Labels: documentation

#1523 chore: upgrade object_store to 0.10.2
  Cargo.toml
Labels: chore

#1524 chore: upgrade lance to 0.16.1
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#1532 feat(nodejs): add bitmap and label list index types in nodejs
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/lancedb/query.ts
  nodejs/src/index.rs
Labels: enhancement

#1538 feat: allow new scalar index types to be created in remote table
  python/python/lancedb/remote/table.py
Labels: enhancement, Python

#1541 chore: bump the required python version to 3.9
  python/pyproject.toml
Labels: Python, chore

#1530 feat(nodejs): add delete unverified
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
Labels: enhancement

#1533 docs: add `create_fts_index` doc in Python API Reference
  python/python/lancedb/table.py
Labels: documentation, Python

#1542 feat(python): add delete unverified parameter
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
Labels: enhancement, Python

#1537 feat: support to query/index FTS on RemoteTable/AsyncTable
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/index.py
  python/python/lancedb/query.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
  python/python/tests/test_s3.py
  python/python/tests/test_table.py
  python/src/query.rs
Labels: enhancement, Python

#1543 docs: add vector search example
  docs/mkdocs.yml
  docs/src/assets/open_hf_space.svg
  docs/src/examples/python_examples/multimodal.md
  docs/src/examples/python_examples/vector_search.md
Labels: documentation

#1495 docs: add a section to describe scalar index
  docs/mkdocs.yml
  docs/src/guides/scalar_index.md
  docs/test/md_testing.py
  python/python/lancedb/table.py
Labels: documentation, typescript, Python, Rust

#1544 docs: add chatbot example and improve quality of other examples
  docs/mkdocs.yml
  docs/src/examples/python_examples/build_from_scratch.md
  docs/src/examples/python_examples/chatbot.md
  docs/src/examples/python_examples/multimodal.md
  docs/src/examples/python_examples/rag.md
  docs/src/examples/python_examples/vector_search.md
Labels: documentation

#1545 docs: missing griffe dependency for mkdocs deployment
  docs/requirements.txt
Labels: bug, documentation, chore

#1547 chore(python): update Colbert architecture and minor improvements
  python/python/lancedb/embeddings/instructor.py
  python/python/lancedb/embeddings/transformers.py
  python/python/lancedb/query.py
  python/python/lancedb/rerankers/colbert.py
  python/python/lancedb/rerankers/cross_encoder.py
  python/python/tests/test_rerankers.py
Labels: Python, chore

#1554 fix: rerank attribute unknown
  python/python/lancedb/query.py
Labels: bug, Python

#1551 docs: add dlt-lancedb integration page
  docs/mkdocs.yml
  docs/src/integrations/dlt.md
Labels: documentation

#1561 docs: add recommender system example
  .github/workflows/docs_test.yml
  docs/mkdocs.yml
  docs/src/examples/python_examples/rag.md
  docs/src/examples/python_examples/recommendersystem.md
  docs/src/examples/python_examples/vector_search.md
Labels: documentation

#1559 docs: update serverless_lancedb_with_s3_and_lambda.md
  docs/src/examples/serverless_lancedb_with_s3_and_lambda.md
Labels: documentation

#1548 fix(bug): limit fix
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: bug, Python

#1567 fix(node): read consistency level fix
  node/src/test/test.ts
  rust/ffi/node/src/lib.rs
Labels: bug, typescript, Rust

#1571 docs: fix links, convert backslash to forward slash in mkdocs.yml
  docs/mkdocs.yml
Labels: documentation

#1574 docs: revamp Python example: Overview page and remove redundant examples and notebooks
  docs/mkdocs.yml
  docs/src/examples/examples_python.md
  docs/src/notebooks/code_qa_bot.ipynb
  docs/src/notebooks/multimodal_search.ipynb
  docs/src/notebooks/youtube_transcript_search.ipynb
Labels: documentation

#1570 docs: add hnsw docs
  docs/mkdocs.yml
  docs/src/concepts/index_hnsw.md
Labels: documentation

#1572 fix: specify column to search for FTS
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
  python/src/index.rs
Labels: bug, Python

#1575 feat!: better api for manual hybrid queries
  docs/src/hybrid_search/hybrid_search.md
  python/python/lancedb/query.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python, breaking-change

#1582 docs: improve overall language on all example pages
  docs/src/examples/examples_python.md
  docs/src/examples/python_examples/aiagent.md
  docs/src/examples/python_examples/build_from_scratch.md
  docs/src/examples/python_examples/chatbot.md
  docs/src/examples/python_examples/evaluations.md
  docs/src/examples/python_examples/multimodal.md
  docs/src/examples/python_examples/rag.md
  docs/src/examples/python_examples/recommendersystem.md
  docs/src/examples/python_examples/vector_search.md
Labels: documentation

#1579 docs: add multi-vector reranking, answerdotai and studies section
  docs/mkdocs.yml
  docs/src/reranking/index.md
  docs/src/studies/overview.md
Labels: documentation
