Repository lancedb/lancedb, pull requests merged in 2024-09, with the labels that each got.

#1591 docs: fix links - quick start to embedding
  docs/src/basic.md
Labels: documentation

#1580 feat: update default reranker to RRF
  docs/src/hybrid_search/hybrid_search.md
  docs/src/reranking/index.md
  python/python/lancedb/query.py
Labels: enhancement, Python

#1599 docs: removed the unnecessary fence code tag
  docs/src/guides/tables.md
Labels: bug, documentation

#1556 feat(python, rust): expose offset in query
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1596 docs: add changes to Embeddings-> Available models-> overview page
  docs/mkdocs.yml
  docs/src/embeddings/available_embedding_models/text_embedding_functions/cohere_embedding.md
  docs/src/embeddings/default_embedding_functions.md
Labels: documentation

#1485 ci: public java package
  .github/workflows/java-publish.yml
  java/core/pom.xml
  java/pom.xml
Labels: ci, java

#1601 docs: fix get_registry() usage
  docs/src/embeddings/available_embedding_models/multimodal_embedding_functions/imagebind_embedding.md
  docs/src/embeddings/available_embedding_models/multimodal_embedding_functions/openclip_embedding.md
Labels: documentation

#1593 feat: support to create table from record batch iterator
  python/python/lancedb/db.py
  python/python/lancedb/query.py
  python/python/lancedb/remote/arrow.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
Labels: enhancement, Python

#1604 docs: added a blank line between a paragraph and a list block
  docs/src/concepts/index_hnsw.md
Labels: documentation

#1608 feat: upgrade lance to v0.17.0
  Cargo.toml
  python/pyproject.toml
  rust/ffi/node/src/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1578 feat: enable phrase_query(bool) for hybrid search queries
  python/python/lancedb/query.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1612 feat: add flag to enable faster manifest paths
  Cargo.toml
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/src/connection.rs
  nodejs/src/table.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
  python/src/connection.rs
  python/src/table.rs
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1620 feat(nodejs): expose offset
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
Labels: enhancement

#1603 fix(python): remove unmaintained ratelimiter dependency
  python/pyproject.toml
  python/python/lancedb/embeddings/utils.py
  python/python/tests/test_embeddings.py
Labels: bug, Python

#1621 feat: support to build FTS without positions
  docs/src/fts.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/src/index.rs
  python/python/lancedb/index.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
  python/src/index.rs
  rust/lancedb/src/index/scalar.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1595 feat: expose hnsw indices
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/src/index.rs
  python/python/lancedb/index.py
  python/python/tests/test_index.py
  python/src/index.rs
Labels: enhancement, Python

#1629 docs: improve the docs and API param name
  docs/src/fts.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
Labels: documentation, Python

#1619 docs: rag section in guide
  docs/mkdocs.yml
  docs/src/rag/adaptive_rag.md
  docs/src/rag/advanced_techniques/flare.md
  docs/src/rag/advanced_techniques/hyde.md
  docs/src/rag/agentic_rag.md
  docs/src/rag/corrective_rag.md
  docs/src/rag/graph_rag.md
  docs/src/rag/multi_head_rag.md
  docs/src/rag/self_rag.md
  docs/src/rag/vanilla_rag.md
  docs/test/md_testing.py
Labels: documentation

#1628 fix: support pyarrow input types
  python/python/lancedb/dependencies.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: bug, Python

#1634 docs: update FTS docs for JS SDK
  docs/src/fts.md
  docs/src/js/classes/Index.md
  docs/src/js/classes/Table.md
  docs/src/js/globals.md
Labels: documentation

#1639 feat: implement Remote connection for LanceDB Rust
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Rust

#1631 feat(node): let NODE API region default to us-east-1
  node/src/index.ts
  node/src/remote/client.ts
  node/src/test/test.ts
Labels: enhancement, typescript

#1558 fix: add appropriate QueryBuilder overloads to LanceTable.search
  python/python/lancedb/table.py
Labels: bug, Python

#1573 fix: unterminated string literal on table update
  python/python/lancedb/util.py
  python/python/tests/test_util.py
Labels: bug, Python

#1643 docs: add understand embeddings v1
  docs/mkdocs.yml
  docs/src/embeddings/understanding_embeddings.md
Labels: documentation

#1648 chore: make remote client a context manager
  python/python/lancedb/remote/client.py
  python/python/tests/test_remote_client.py
Labels: Python, chore

#1649 fix: allow pass optional args in colbert reranker
  python/python/lancedb/rerankers/answerdotai.py
  python/python/lancedb/rerankers/colbert.py
Labels: bug, Python

#1650 feat: fix creating empty table and creating table by a list of RecordBatch for remote python sdk
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
Labels: enhancement, Python

#1645 feat(rust): remote client write data endpoint
  rust/lancedb/Cargo.toml
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table/merge.rs
Labels: enhancement, Rust

#1657 feat!: upgrade Lance to 0.18.0
  Cargo.toml
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/src/connection.rs
  nodejs/src/table.rs
  python/pyproject.toml
  python/python/lancedb/db.py
  python/python/tests/test_db.py
  rust/lancedb/src/connection.rs
  rust/lancedb/src/embeddings/sentence_transformers.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust, breaking-change

#1602 ci: enable java auto release
  .bumpversion.toml
  .github/workflows/java-publish.yml
  .github/workflows/make-release-commit.yml
  java/core/lancedb-jni/Cargo.toml
  java/core/pom.xml
  java/pom.xml
  release_process.md
Labels: ci

#1674 feat!: set embeddings to Null if embedding function return invalid results
  python/python/lancedb/embeddings/base.py
  python/python/lancedb/embeddings/ollama.py
  python/python/lancedb/table.py
  python/python/tests/test_embeddings.py
Labels: enhancement, Python, breaking-change

#1678 docs: phidata integration page
  docs/mkdocs.yml
  docs/src/integrations/phidata.md
Labels: documentation

#1683 feat(rust): add with_row_id to rust SDK
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1680 chore: add error handling for openai embedding generation
  python/python/lancedb/embeddings/openai.py
Labels: Python, chore

#1687 feat!: enforce all rerankers always return relevance score & deprecate linear combination fixes
  docs/src/reranking/linear_combination.md
  docs/src/reranking/rrf.md
  python/python/lancedb/query.py
  python/python/lancedb/rerankers/base.py
  python/python/lancedb/rerankers/linear_combination.py
  python/python/lancedb/rerankers/util.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python, chore, breaking-change

#1692 fix(python): force deduce vector column name if running explicit hybrid query
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: bug, Python

#1690 fix(node): pass no const enum
  nodejs/native.d.ts
  nodejs/package.json
Labels: bug

#1693 feat: add fast_search to vectordb
  node/src/query.ts
  node/src/remote/client.ts
  node/src/remote/index.ts
  rust/ffi/node/src/query.rs
Labels: enhancement, typescript, Rust

#1689 fix: metric type for python/node search api
  node/src/remote/client.ts
  node/src/remote/index.ts
  python/python/lancedb/query.py
  rust/lancedb/src/lib.rs
Labels: bug, typescript, Python, Rust

#1698 feat(python): allow explicit hybrid search query pattern in SaaS (feat parity)
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/lancedb/util.py
Labels: enhancement, Python

#1667 fix: hnsw default partitions
  rust/lancedb/src/index/vector.rs
  rust/lancedb/src/table.rs
Labels: bug, enhancement, Rust

#1688 fix(EmbeddingFunction): modify safe_model_dump to explicitly exclude class fields with underscore
  python/python/lancedb/embeddings/base.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_embeddings_slow.py
Labels: bug, Python

#1704 feat: expose underlying dataset uri of the table
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1703 feat(rust): remote rename table
  rust/lancedb/src/connection.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Rust

#1702 feat: remote index stats
  node/src/index.ts
  node/src/query.ts
  node/src/remote/client.ts
  node/src/remote/index.ts
  node/src/test/test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/src/table.rs
  python/python/lancedb/table.py
  python/python/tests/test_index.py
  python/src/index.rs
  python/src/table.rs
  rust/ffi/node/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, typescript, Python, Rust, breaking-change

#1708 ci: change to use github runner
  .github/workflows/docs_test.yml
  .github/workflows/rust.yml
Labels: ci

#1712 feat(python): add support for trust_remote_code in hf embeddings
  docs/src/embeddings/available_embedding_models/text_embedding_functions/huggingface_embedding.md
  python/python/lancedb/embeddings/transformers.py
Labels: enhancement, Python
