Repository lancedb/lancedb, pull requests merged in 2024-11, with the labels that each got.

#1623 feat: `fast_search` in Python and Node
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
Labels: enhancement, Python

#1783 feat(python): support post filter on FTS
  python/python/lancedb/query.py
  python/python/tests/test_fts.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1785 fix(rust): fix update, open_table, fts search in remote client
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#1776 fix: explain plan options
  python/python/lancedb/query.py
Labels: bug, Python

#1784 feat(python,node): support with_row_id in Python and remote
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, typescript, Python, Rust

#1794 feat: upgrade to lance 0.19.2-beta.3
  Cargo.toml
  python/pyproject.toml
  python/python/lancedb/rerankers/linear_combination.py
Labels: enhancement, Python

#1795 fix: serialize vectordb client errors as json
  node/src/remote/client.ts
Labels: bug, typescript

#1798 chore: update package locks
  node/package-lock.json
  nodejs/package-lock.json
Labels: typescript, chore

#1701 feat(python): transition Python remote sdk to use Rust implementation
  python/pyproject.toml
  python/python/lancedb/__init__.py
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/index.py
  python/python/lancedb/remote/__init__.py
  python/python/lancedb/remote/arrow.py
  python/python/lancedb/remote/client.py
  python/python/lancedb/remote/connection_timeout.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/rerankers/jinaai.py
  python/python/lancedb/table.py
  python/python/tests/test_embeddings_slow.py
  python/python/tests/test_index.py
  python/python/tests/test_remote_client.py
  python/python/tests/test_remote_db.py
  python/src/connection.rs
  python/src/index.rs
  rust/lancedb/src/connection.rs
Labels: enhancement, Python, Rust

#1801 fix(node): update default log level to warn
  nodejs/src/lib.rs
Labels: bug

#1770 ci: arm64 windows build support
  .bumpversion.toml
  .cargo/config.toml
  .github/workflows/rust.yml
  ci/build_windows_artifacts.ps1
  ci/build_windows_artifacts_nodejs.ps1
  node/package-lock.json
  node/package.json
  nodejs/npm/win32-arm64-msvc/README.md
  nodejs/npm/win32-arm64-msvc/package.json
Labels: enhancement, typescript

#1769 feat: support optimize indices in sync API
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1808 chore: impl Debug & Clone for Index params
  rust/lancedb/src/index.rs
Labels: Rust, chore

#1797 docs: introducing LanceDB Guru on Gurubase.io
  README.md
Labels: documentation

#1799 feat: voyageai support
  docs/src/embeddings/available_embedding_models/text_embedding_functions/voyageai_embedding.md
  docs/src/reranking/voyageai.md
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/voyageai.py
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/voyageai.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_embeddings_slow.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python

#1805 feat: added lancedb and vectordb release ci for win32-arm64-msvc npmjs only
  .github/workflows/npm-publish.yml
  nodejs/Cargo.toml
  nodejs/npm/win32-arm64-msvc/package.json
Labels: enhancement

#1810 fix: arm64 runner proto already installed bug
  .github/workflows/npm-publish.yml
  .github/workflows/rust.yml
Labels: bug

#1815 docs: search param explanation for OSS doc
  docs/src/ann_indexes.md
Labels: documentation

#1818 fix: use pandas with pydantic embedding column
  .github/workflows/python.yml
  python/python/lancedb/embeddings/registry.py
  python/python/lancedb/rerankers/voyageai.py
  python/python/lancedb/table.py
  python/python/tests/test_embeddings.py
Labels: bug, Python

#1823 ci: add index URL to fix failing docs build
  .github/workflows/docs.yml
  .github/workflows/docs_test.yml
Labels: ci

#1824 docs: update hybrid search example to latest langchain
  docs/src/notebooks/hybrid_search.ipynb
Labels: documentation

#1820 ci: remove cache to fix build issues on windows arm runner
  .github/workflows/npm-publish.yml
  .github/workflows/rust.yml
Labels: bug, ci

#1796 ci(node): run examples in CI
  .github/workflows/nodejs.yml
  ci/mock_openai.py
  docs/src/ann_indexes.md
  docs/src/basic.md
  docs/src/embeddings/custom_embedding_function.md
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
  docs/src/guides/tables.md
  docs/src/search.md
  docs/src/sql.md
  nodejs/biome.json
  nodejs/examples/ann_indexes.test.ts
  nodejs/examples/ann_indexes.ts
  nodejs/examples/basic.test.ts
  nodejs/examples/basic.ts
  nodejs/examples/custom_embedding_function.test.ts
  nodejs/examples/custom_embedding_function.ts
  nodejs/examples/embedding.test.ts
  nodejs/examples/embedding.ts
  nodejs/examples/filtering.test.ts
  nodejs/examples/filtering.ts
  nodejs/examples/full_text_search.test.ts
  nodejs/examples/full_text_search.ts
  nodejs/examples/jest.config.cjs
  nodejs/examples/jsconfig.json
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/examples/search.test.ts
  nodejs/examples/search.ts
  nodejs/examples/sentence-transformers.js
  nodejs/examples/sentence-transformers.test.ts
  nodejs/examples/tsconfig.json
  nodejs/examples/util.ts
  nodejs/jest.config.js
  nodejs/lancedb/embedding/transformers.ts
  nodejs/lancedb/query.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/tsconfig.json
Labels: ci

#1828 feat: support remote empty query
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/tests/test_remote_db.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1829 chore: bump lance to 0.19.2
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#1788 feat: add new feature, add amazon bedrock embedding function
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/bedrock.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/embeddings/bedrock.rs
Labels: enhancement, Rust

#1833 ci: disable Windows Arm64 until the release builds work
  .github/workflows/npm-publish.yml
Labels: ci

#1809 fix(node): make openai and huggingface optional dependencies
  nodejs/examples/sentence-transformers.test.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/package.json
Labels: bug, typescript, breaking-change

#1827 feat: flexible null handling and insert subschemas in Python
  .github/workflows/nodejs.yml
  Cargo.toml
  docs/src/guides/tables.md
  nodejs/__test__/table.test.ts
  python/python/lancedb/table.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_table.py
Labels: enhancement, typescript, Python

#1839 chore: bump lance to 0.19.3
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#1789 docs: introduce incremental indexing for FTS
  Cargo.toml
  docs/package-lock.json
  docs/src/fts.md
Labels: documentation, typescript, Python

#1842 feat: add support for rustls
  python/Cargo.toml
  rust/lancedb/Cargo.toml
Labels: enhancement, Python, Rust

#1834 ci: remove invalid references
  .github/workflows/npm-publish.yml
Labels: ci

#1835 test(python): test `with_row_id` in sync query
  python/python/tests/test_query.py
Labels: Python, chore

#1847 feat(python): check vector query is not None
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#1837 docs: update migration reference
  docs/src/guides/tables.md
Labels: documentation

#1853 ci: musl x64,arm64
  .bumpversion.toml
  .cargo/config.toml
  .github/workflows/npm-publish.yml
  ci/manylinux_node/build_lancedb.sh
  ci/manylinux_node/build_vectordb.sh
  node/package.json
  nodejs/npm/linux-arm64-musl/README.md
  nodejs/npm/linux-arm64-musl/package.json
  nodejs/npm/linux-x64-musl/README.md
  nodejs/npm/linux-x64-musl/package.json
  nodejs/package.json
Labels: typescript, ci

#1858 docs: add Voyage models to sidebar
  docs/mkdocs.yml
Labels: documentation

#1861 docs: full-text search doc update
  docs/src/fts.md
  docs/src/fts_tantivy.md
Labels: documentation

#1863 feat: support for checkout and checkout_latest in remote sdks
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#1862 fix(CohereReranker): updated default model_name param to newest v3
  python/python/lancedb/rerankers/cohere.py
Labels: bug, Python

#1850 feat: add list_versions to typescript, rust and remote python sdks
  Cargo.toml
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/pyproject.toml
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, typescript, Python, Rust

#1860 fix: `limit` docstring change
  python/python/lancedb/query.py
Labels: bug, Python

#1865 feat: bump lance to 0.20.0b2
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust, chore

#1870 ci: musl missing node/package.json targets
  node/package.json
Labels: typescript, ci

#1873 fix(python)!: handle bad openai embeddings gracefully
  python/Cargo.toml
  python/pyproject.toml
  python/python/lancedb/embeddings/openai.py
  python/python/lancedb/pydantic.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_embeddings_slow.py
  python/python/tests/test_pydantic.py
Labels: bug, enhancement, Python, DX, breaking-change

#1874 docs: improve scalar index and filtering
  docs/src/guides/scalar_index.md
  docs/src/sql.md
Labels: documentation

#1856 fix(python): run remote SDK futures in background thread
  python/pyproject.toml
  python/python/lancedb/remote/background_loop.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/remote/table.py
  python/python/tests/test_remote_db.py
Labels: bug, Python

#1882 feat: bump lance to 0.20.0b3
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1881 ci: use correct runner for vectordb
  .github/workflows/npm-publish.yml
Labels: ci

#1883 feat: support overwrite and exist_ok mode for remote create_table
  rust/lancedb/src/connection.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, typescript, Python, Rust

#1885 docs: improve style and introduction to Python API docs
  docs/mkdocs.yml
  docs/src/python/python.md
Labels: documentation

#1889 ci: linux: specify target triple for `neon pack-build` (vectordb)
  .github/workflows/npm-publish.yml
  ci/build_linux_artifacts.sh
  ci/manylinux_node/build_vectordb.sh
Labels: ci

#1886 fix: default limit for remote nodejs client
  rust/lancedb/src/connection.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#1866 fix: dynamodb external manifest drop table
  rust/lancedb/src/connection.rs
Labels: bug, Rust

#1891 fix: test errors after setting default limit
  nodejs/__test__/connection.test.ts
  nodejs/__test__/table.test.ts
  python/python/lancedb/query.py
  python/python/tests/test_db.py
Labels: bug, Python

#1895 feat: support remote options for remote lancedb connection
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Rust
