Repository lancedb/lancedb, pull requests merged in 2024-07, with the labels that each got.

#1415 docs: addresses typos in HF embedding example docs
  docs/src/embeddings/default_embedding_functions.md
Labels: documentation

#1416 docs: add reranking example
  docs/src/notebooks/lancedb_reranking.ipynb
Labels: documentation

#1414 feat(nodejs): catch unwinds in node bindings
  nodejs/Cargo.toml
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/src/connection.rs
  nodejs/src/iterator.rs
  nodejs/src/merge.rs
  nodejs/src/query.rs
  nodejs/src/table.rs
Labels: enhancement

#1419 ci: fix nodejs doc test
  .github/workflows/docs_test.yml
  node/package.json
Labels: typescript, ci

#1408 feat(nodejs): add better typehints for registry
  nodejs/__test__/registry.test.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
Labels: enhancement

#1417 chore(nodejs): make opean optional, and apache-arrow a peer dep
  nodejs/package.json
Labels: chore

#1420 docs: add merge insert, create index and create scalar index to public rest api doc
  docs/openapi.yml
Labels: documentation

#1407 feat: support to create more vector index types
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
Labels: enhancement, Python

#1328 feat: add the explain_plan function
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1421 feat(nodejs): make tbl.search chainable
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
Labels: enhancement

#1423 docs: update lntegration docs & fixed links
  docs/mkdocs.yml
  docs/src/integrations/langchain.md
  docs/src/integrations/llamaIndex.md
  docs/src/notebooks/LlamaIndex_example.ipynb
  docs/src/notebooks/langchain_example.ipynb
Labels: documentation

#1424 feat: add Jina integration in Python for Embedding and Reranker
  docs/src/embeddings/index.md
  docs/src/reranking/jina.md
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/jinaai.py
Labels: enhancement, Python

#1426 chore: propagate error for table index stats
  rust/lancedb/src/table.rs
Labels: Rust, chore

#1430 chore: bump lance to 0.14
  Cargo.toml
  python/pyproject.toml
  python/python/lancedb/query.py
Labels: Python, chore

#1432 feat(rust): enable fast search flag in rust
  rust/lancedb/src/connection.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#1434 fix(nodejs): explain plan
  nodejs/lancedb/query.ts
Labels: bug

#1435 docs: add fast search to openapi.yml
  docs/openapi.yml
Labels: documentation

#1436 refactor: update type hint and remove unused import
  python/python/lancedb/rerankers/linear_combination.py
Labels: Python

#1427 docs: add jina reranker to index
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  docs/src/reranking/index.md
  python/python/lancedb/embeddings/jinaai.py
Labels: documentation, Python

#1411 docs(nodejs): add @lancedb/lancedb examples everywhere
  .gitignore
  .pre-commit-config.yaml
  docs/src/ann_indexes.md
  docs/src/basic.md
  docs/src/basic_legacy.ts
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
  docs/src/guides/storage.md
  docs/src/guides/tables.md
  docs/src/search.md
  docs/src/sql.md
  nodejs/__test__/tsconfig.json
  nodejs/biome.json
  nodejs/examples/.gitignore
  nodejs/examples/ann_indexes.ts
  nodejs/examples/basic.ts
  nodejs/examples/embedding.ts
  nodejs/examples/filtering.ts
  nodejs/examples/jsconfig.json
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/examples/search.ts
  nodejs/native.d.ts
  rust/lancedb/examples/openai.rs
Labels: documentation, Rust

#1439 feat(nodejs): `update({values | valuesSql})`
  nodejs/__test__/table.test.ts
  nodejs/__test__/util.test.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
Labels: enhancement

#1438 docs: add fine tuning section in retriever guide and minor fixes
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/guides/tuning_retrievers/3_embed_tuning.md
  docs/src/notebooks/embedding_tuner.ipynb
  docs/src/notebooks/lancedb_reranking.ipynb
Labels: documentation

#1442 chore: bump lance to 0.14.1
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/table.rs
Labels: Python, Rust, chore

#1440 feat: support update over binary field
  python/python/lancedb/util.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1441 chore: typing for lance.connect
  python/python/lancedb/__init__.py
Labels: Python, chore

#1443 feat: make timeout configurable for vectordb node SDK
  node/src/index.ts
  node/src/remote/client.ts
  node/src/remote/index.ts
Labels: enhancement, typescript

#1445 docs: update `migration.md`
  docs/mkdocs.yml
  docs/src/migration.md
Labels: documentation, chore

#1450 ci: fix vectordb release process
  .github/workflows/npm-publish.yml
  ci/manylinux_node/Dockerfile
Labels: ci

#1454 fix: added support for trust_remote_code
  docs/src/embeddings/default_embedding_functions.md
  python/python/lancedb/embeddings/sentence_transformers.py
Labels: bug, Python

#1455 chore: choose appropriate args for concat_table based on pyarrow version & refactor reranker tests
  python/python/lancedb/conftest.py
  python/python/lancedb/rerankers/base.py
  python/python/tests/test_rerankers.py
Labels: Python, chore

#1458 fix(nodejs): lancedb arrow dependency
  nodejs/__test__/arrow.test.ts
  nodejs/__test__/registry.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/package-lock.json
  nodejs/package.json
Labels: bug

#1459 docs: add installation note about yarn
  docs/src/basic.md
Labels: documentation

#1451 docs: minor updates for js migration guides
  docs/mkdocs.yml
  docs/src/api_reference.md
  docs/src/basic_legacy.ts
  docs/src/guides/tables.md
  docs/src/js/README.md
  docs/src/js/classes/Connection.md
  docs/src/js/classes/Index.md
  docs/src/js/classes/MakeArrowTableOptions.md
  docs/src/js/classes/Query.md
  docs/src/js/classes/QueryBase.md
  docs/src/js/classes/RecordBatchIterator.md
  docs/src/js/classes/Table.md
  docs/src/js/classes/VectorColumnOptions.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/classes/embedding.OpenAIEmbeddingFunction.md
  docs/src/js/enumerations/WriteMode.md
  docs/src/js/enums/WriteMode.md
  docs/src/js/functions/connect.md
  docs/src/js/functions/makeArrowTable.md
  docs/src/js/globals.md
  docs/src/js/interfaces/AddColumnsSql.md
  docs/src/js/interfaces/AddDataOptions.md
  docs/src/js/interfaces/ColumnAlteration.md
  docs/src/js/interfaces/ConnectionOptions.md
  docs/src/js/interfaces/CreateTableOptions.md
  docs/src/js/interfaces/ExecutableQuery.md
  docs/src/js/interfaces/IndexConfig.md
  docs/src/js/interfaces/IndexMetadata.md
  docs/src/js/interfaces/IndexOptions.md
  docs/src/js/interfaces/IndexStatistics.md
  docs/src/js/interfaces/IvfPqOptions.md
  docs/src/js/interfaces/TableNamesOptions.md
  docs/src/js/interfaces/UpdateOptions.md
  docs/src/js/interfaces/WriteOptions.md
  docs/src/js/interfaces/embedding.EmbeddingFunction.md
  docs/src/js/modules/embedding.md
  docs/src/js/namespaces/embedding/README.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunction.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunctionRegistry.md
  docs/src/js/namespaces/embedding/classes/OpenAIEmbeddingFunction.md
  docs/src/js/namespaces/embedding/functions/LanceSchema.md
  docs/src/js/namespaces/embedding/functions/getRegistry.md
  docs/src/js/namespaces/embedding/functions/register.md
  docs/src/js/namespaces/embedding/interfaces/EmbeddingFunctionConfig.md
  docs/src/js/namespaces/embedding/type-aliases/OpenAIOptions.md
  docs/src/js/type-aliases/Data.md
  docs/src/migration.md
  nodejs/examples/basic.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/typedoc.json
Labels: documentation, chore

#1464 docs: expose merge_insert doc for remote python SDK
  .github/workflows/python.yml
  docs/src/python/saas-python.md
  python/python/lancedb/pydantic.py
  python/python/lancedb/remote/table.py
Labels: documentation, Python

#1447 feat(rust): huggingface sentence-transformers
  .github/workflows/rust.yml
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/sentence_transformers.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/embeddings/openai.rs
  rust/lancedb/src/embeddings/sentence_transformers.rs
  rust/lancedb/src/error.rs
Labels: enhancement, Rust

#1460 fix: handle camelCase column names in select
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
Labels: bug, Python

#1469 fix: don't use v2 by default on empty table
  python/python/tests/test_db.py
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
Labels: bug, Python, Rust

#1456 feat: add reciprocal rank fusion reranker
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/rrf.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python

#1468 feat!: correct timeout argument lancedb nodejs sdk
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
Labels: enhancement, breaking-change

#1467 fix: remove source .ts code from published npm package
  nodejs/.npmignore
Labels: bug

#1444 fix: infer schema from huggingface dataset
  python/python/lancedb/db.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_huggingface.py
Labels: bug, Python

#1470 chore: update readme to point to lancedb package
  README.md
  nodejs/lancedb/table.ts
Labels: chore

#1471 docs: add missing whitespace before markdown table to fix rendering issue
  docs/src/embeddings/default_embedding_functions.md
Labels: documentation

#1474 docs: add rrf docs and update reranking notebook with Jina reranker results
  docs/mkdocs.yml
  docs/src/notebooks/lancedb_reranking.ipynb
  docs/src/reranking/rrf.md
Labels: documentation

#1477 feat: upgrade lance to 0.15.0
  Cargo.toml
  python/Cargo.toml
  python/pyproject.toml
  python/python/lancedb/query.py
  python/src/arrow.rs
  python/src/connection.rs
  python/src/query.rs
  python/src/table.rs
  rust/lancedb/Cargo.toml
  rust/lancedb/src/io/object_store.rs
Labels: enhancement, Python, Rust

#1462 feat(nodejs): huggingface compatible transformers
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/examples/sentence-transformers.js
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/embedding/transformers.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/package.json
Labels: enhancement

#1472 fix: run java stages in parallel
  .github/workflows/java.yml
Labels: bug

#1479 docs: custom embedding function for ts
  docs/src/embeddings/custom_embedding_function.md
  nodejs/examples/custom_embedding_function.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
Labels: documentation
