Repository lancedb/lancedb, pull requests merged in 2024-10, with the labels that each got.

#1715 fix: `list_indices` returns correct index type
  python/python/tests/test_index.py
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Labels: bug, Python, Rust

#1707 feat(python): merge_insert in async Python
  python/python/lancedb/merge.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
Labels: enhancement, Python

#1696 feat(rust): client configuration for remote client
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Rust

#1700 feat(python): bind python async remote client to rust client
  python/Cargo.toml
  python/python/lancedb/__init__.py
  python/python/lancedb/remote/__init__.py
  python/python/tests/test_remote_db.py
  python/src/connection.rs
  rust/lancedb/src/remote/client.rs
Labels: enhancement, Python, Rust

#1717 docs: saleforce's sfr rag
  docs/mkdocs.yml
  docs/src/rag/sfr_rag.md
Labels: documentation

#1719 docs: add langchainjs writing assistant
  docs/src/examples/index.md
Labels: documentation

#1721 fix: broken notebook link fix
  README.md
Labels: bug

#1723 fix(rust): remote SDK bugs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/remote/util.rs
Labels: bug, Rust

#1725 feat(python): drop support for dictionary in Table.add
  python/python/lancedb/common.py
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1726 feat(rust): `list_indices` in remote SDK
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Rust

#1722 feat: better errors for remote SDK
  python/python/lancedb/remote/client.py
  python/python/lancedb/remote/errors.py
  python/python/tests/test_db.py
  python/python/tests/test_remote_db.py
  python/src/error.rs
  rust/lancedb/src/error.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#1738 fix(node): add native packages to bump version
  .bumpversion.toml
  node/package-lock.json
  node/package.json
  node/src/integration_test/test.ts
  node/src/query.ts
  node/src/remote/index.ts
  node/src/test/test.ts
Labels: bug, typescript

#1730 feat(node): bind remote SDK to rust implementation
  .bumpversion.toml
  nodejs/Cargo.toml
  nodejs/__test__/remote.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/remote.rs
Labels: enhancement

#1740 ci: update package lock
  node/package-lock.json
  nodejs/package-lock.json
Labels: typescript, ci

#1745 docs: clarify infrastructure requirements for S3 Express One Zone
  docs/src/guides/storage.md
Labels: documentation

#1746 docs: add permanent link chain icon to headings without impacting SEO
  docs/mkdocs.yml
  docs/src/styles/extra.css
Labels: documentation

#1747 feat: allow fast_search on python remote table
  python/python/lancedb/query.py
  python/python/lancedb/remote/__init__.py
  python/python/lancedb/remote/table.py
Labels: enhancement, Python

#1749 fix(python): remove dependency on retry package
  python/pyproject.toml
  python/python/lancedb/embeddings/utils.py
  python/python/tests/test_embeddings.py
Labels: bug, Python

#1748 feat: upgrade lance to 0.18.3
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#1753 fix: list_indices can handle fts indexes
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Labels: bug, Rust

#1754 feat(rust): allow `add_embedding` on `create_empty_table`
  rust/lancedb/src/connection.rs
Labels: enhancement, Rust

#1742 docs(node): update `indexStats` signature and regenerate docs
  docs/src/javascript/README.md
  docs/src/javascript/classes/DefaultWriteOptions.md
  docs/src/javascript/classes/LocalConnection.md
  docs/src/javascript/classes/LocalTable.md
  docs/src/javascript/classes/MakeArrowTableOptions.md
  docs/src/javascript/classes/OpenAIEmbeddingFunction.md
  docs/src/javascript/classes/Query.md
  docs/src/javascript/enums/IndexStatus.md
  docs/src/javascript/enums/MetricType.md
  docs/src/javascript/enums/WriteMode.md
  docs/src/javascript/interfaces/AwsCredentials.md
  docs/src/javascript/interfaces/CleanupStats.md
  docs/src/javascript/interfaces/ColumnAlteration.md
  docs/src/javascript/interfaces/CompactionMetrics.md
  docs/src/javascript/interfaces/CompactionOptions.md
  docs/src/javascript/interfaces/Connection.md
  docs/src/javascript/interfaces/ConnectionOptions.md
  docs/src/javascript/interfaces/CreateTableOptions.md
  docs/src/javascript/interfaces/EmbeddingFunction.md
  docs/src/javascript/interfaces/IndexStats.md
  docs/src/javascript/interfaces/IvfPQIndexConfig.md
  docs/src/javascript/interfaces/MergeInsertArgs.md
  docs/src/javascript/interfaces/Table.md
  docs/src/javascript/interfaces/UpdateArgs.md
  docs/src/javascript/interfaces/UpdateSqlArgs.md
  docs/src/javascript/interfaces/VectorIndex.md
  docs/src/javascript/interfaces/WriteOptions.md
  docs/src/javascript/modules.md
  node/src/index.ts
  node/src/remote/index.ts
Labels: documentation, typescript

#1760 perf: eliminate iop in refresh
  rust/lancedb/src/table/dataset.rs
Labels: Rust, performance

#1762 feat!: upgrade lance to 0.19.1
  Cargo.toml
  docs/mkdocs.yml
  docs/src/fts.md
  docs/src/fts_tantivy.md
  docs/src/index.md
  docs/src/js/interfaces/FtsOptions.md
  docs/test/requirements.txt
  node/package-lock.json
  nodejs/package-lock.json
  python/pyproject.toml
  python/python/lancedb/index.py
  python/python/lancedb/table.py
  python/src/index.rs
  rust-toolchain.toml
  rust/lancedb/src/index/scalar.rs
  rust/lancedb/src/table.rs
Labels: enhancement, typescript, Python, Rust, breaking-change

#1751 docs: fix archived examples links
  docs/src/examples/python_examples/chatbot.md
  docs/src/examples/python_examples/multimodal.md
  docs/src/examples/python_examples/rag.md
  docs/src/examples/python_examples/recommendersystem.md
  docs/src/examples/python_examples/vector_search.md
  docs/src/integrations/phidata.md
Labels: documentation

#1773 docs: revamp langchain integration page
  docs/src/integrations/langchain.md
Labels: documentation

#1777 feat: allow distance type (metric) to be specified during hybrid search
  python/python/lancedb/conftest.py
  python/python/lancedb/query.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#1775 feat(node): enable logging and show full errors
  Cargo.toml
  docs/mkdocs.yml
  docs/src/troubleshooting.md
  nodejs/Cargo.toml
  nodejs/__test__/remote.test.ts
  nodejs/src/connection.rs
  nodejs/src/error.rs
  nodejs/src/lib.rs
  nodejs/src/merge.rs
  nodejs/src/query.rs
  nodejs/src/table.rs
  python/Cargo.toml
  rust/lancedb/src/remote/client.rs
Labels: enhancement, Python, Rust

#1780 fix: index_stats works for FTS indices
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Labels: bug, Rust

#1782 fix(rust): fix delete, update, query in remote SDK
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust
