Repository lancedb/lancedb, pull requests merged in 2025-07, with the labels that each got.

#2479 fix: only monotonically update dataset
  rust/lancedb/src/table/dataset.rs
Labels: bug, Rust

#2486 chore: upgrade lance to 0.31.1-beta.1
  Cargo.lock
  Cargo.toml
  rust/lancedb/src/table/datafusion.rs
Labels: Rust, chore

#2487 chore: update lance to 31.1-beta.2
  Cargo.lock
  Cargo.toml
  nodejs/__test__/table.test.ts
Labels: Rust, chore

#2488 feat: support to specify num_partitions and num_bits
  python/python/lancedb/remote/table.py
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#2491 chore: sync node package-lock
  node/package-lock.json
Labels: typescript, chore

#2484 fix: change 'return' to 'raise' for unimplemented remote table function
  python/python/lancedb/remote/table.py
  python/python/tests/test_remote_db.py
Labels: bug, Python

#2501 feat: update lance to 0.31.1
  Cargo.lock
  Cargo.toml
  node/package-lock.json
Labels: enhancement, typescript

#2504 chore: fix cleanupOlderThan docs
  nodejs/lancedb/table.ts
Labels: chore

#2507 feat: support ngram tokenizer
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/src/index.rs
  python/python/lancedb/index.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/lancedb/types.py
  python/python/tests/test_fts.py
  python/src/index.rs
Labels: enhancement, Python

#2510 fix: set_lance_version may miss features when upgrading lance
  Cargo.lock
  Cargo.toml
  ci/set_lance_version.py
Labels: bug, chore

#2509 feat: add support for returning all scores with rerankers
  python/python/lancedb/query.py
  python/python/lancedb/rerankers/answerdotai.py
  python/python/lancedb/rerankers/base.py
  python/python/lancedb/rerankers/cohere.py
  python/python/lancedb/rerankers/cross_encoder.py
  python/python/lancedb/rerankers/jinaai.py
  python/python/lancedb/rerankers/openai.py
  python/python/lancedb/rerankers/voyageai.py
  python/python/tests/test_rerankers.py
Labels: enhancement, Python

#2505 fix: excessive object storage handle creation in create_table
  rust/lancedb/src/database/listing.rs
  rust/lancedb/tests/object_store_test.rs
Labels: bug, Rust

#2514 test: fix random data may break test case
  python/python/tests/test_query.py
Labels: Python, chore

#2527 feat: support multivector for JS SDK
  docs/package-lock.json
  docs/src/guides/sql_querying.md
  docs/src/js/classes/MatchQuery.md
  docs/src/js/classes/Table.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/enumerations/Occur.md
  docs/src/js/globals.md
  docs/src/js/interfaces/FtsOptions.md
  docs/src/js/interfaces/OptimizeOptions.md
  docs/src/js/type-aliases/MultiVector.md
  docs/test/md_testing.py
  node/package-lock.json
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/table.ts
Labels: enhancement, typescript

#2529 ci: enable trust publishing for rust crates
  .github/workflows/cargo-publish.yml
Labels: ci

#2525 feat: update lance version to 0.32.0-b2
  Cargo.lock
  Cargo.toml
  java/core/lancedb-jni/Cargo.toml
  node/package-lock.json
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/table/datafusion.rs
Labels: enhancement, typescript, Rust

#2536 fix: use import stubs to prevent MLX doctest collection failures
  python/python/lancedb/embeddings/gte_mlx_model.py
  python/python/lancedb/embeddings/utils.py
  python/python/lancedb/query.py
  python/python/tests/test_hybrid_query.py
  python/python/tests/test_query.py
Labels: bug, Python

#2537 fix: correct grammar in LanceDB cloud connection error message
  python/python/lancedb/__init__.py
Labels: bug, Python

#2532 fix: use local random state in FTS test fixtures to prevent flaky failures
  python/python/tests/test_fts.py
Labels: bug, Python

#2539 fix: resolve flaky Node.js integration test for mirrored store
  node/src/integration_test/test.ts
Labels: bug, typescript

#2533 fix: replace broken documentation URLs in error messages
  python/python/lancedb/common.py
  python/python/lancedb/table.py
Labels: bug, Python

#2477 fix: can not build on python3.9 for dev
  python/pyproject.toml
Labels: bug, Python

#2543 feat: upgrade Lance to v0.32.0
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2559 feat: don't repartition for the sake of the metadata eraser
  rust/lancedb/src/table/datafusion.rs
Labels: enhancement, Rust

#2556 fix: `.nprobes` method in python bindings, improve error messages
  nodejs/__test__/table.test.ts
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  rust/lancedb/src/query.rs
Labels: bug, Python, Rust
