Repository lancedb/lancedb, pull requests merged in 2025-01, with the labels that each got.

#1991 fix: selecting columns failed on FTS and hybrid search
  python/python/tests/test_fts.py
  python/src/query.rs
Labels: bug, Python

#1992 docs: fix full-text search (Native FTS) TypeScript doc error
  docs/src/fts.md
Labels: documentation

#1996 chore: add pyright static type checking and fix some of the table interface
  .github/workflows/python.yml
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/fts.py
  python/python/lancedb/table.py
  python/src/table.rs
Labels: Python, chore

#1993 feat: support vector search with distance thresholds
  Cargo.toml
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/python/tests/test_remote_db.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#1995 ci: prevent stable release with preview lance
  .github/workflows/make-release-commit.yml
  ci/validate_stable_lance.py
Labels: ci

#1986 feat(python): add `to_polars` to `AsyncQueryBase`
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#1967 feat(python): `flatten` in `AsyncQuery`
  python/python/lancedb/query.py
  python/python/lancedb/util.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#1998 docs: assorted copyedits
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/guides/tuning_retrievers/3_embed_tuning.md
  docs/src/hybrid_search/eval.md
  docs/src/hybrid_search/hybrid_search.md
  docs/src/migration.md
  docs/src/notebooks/embedding_tuner.ipynb
  docs/src/notebooks/hybrid_search.ipynb
  docs/src/notebooks/lancedb_reranking.ipynb
  docs/src/notebooks/reproducibility.ipynb
  docs/src/rag/adaptive_rag.md
  docs/src/rag/advanced_techniques/flare.md
  docs/src/rag/advanced_techniques/hyde.md
  docs/src/rag/agentic_rag.md
  docs/src/rag/corrective_rag.md
  docs/src/rag/graph_rag.md
  docs/src/rag/multi_head_rag.md
  docs/src/rag/self_rag.md
  docs/src/rag/sfr_rag.md
  docs/src/reranking/answerdotai.md
  docs/src/reranking/cohere.md
  docs/src/reranking/colbert.md
  docs/src/reranking/cross_encoder.md
  docs/src/reranking/custom_reranker.md
  docs/src/reranking/index.md
  docs/src/reranking/jina.md
  docs/src/reranking/linear_combination.md
  docs/src/reranking/openai.md
  docs/src/reranking/rrf.md
  docs/src/reranking/voyageai.md
  docs/src/sql.md
Labels: documentation

#1970 docs: contributing guide
  CONTRIBUTING.md
  docs/README.md
  nodejs/CONTRIBUTING.md
  nodejs/README.md
  python/CONTRIBUTING.md
  python/Makefile
  python/README.md
Labels: documentation, Python

#1999 feat: support distance range in queries
  docs/src/search.md
  nodejs/__test__/table.test.ts
  nodejs/examples/search.test.ts
  nodejs/lancedb/query.ts
  nodejs/package-lock.json
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/docs/test_distance_range.py
Labels: documentation, enhancement, Python

#1965 feat(python)!: support inserting and upserting subschemas
  python/python/lancedb/db.py
  python/python/lancedb/embeddings/registry.py
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/lancedb/util.py
  python/python/tests/docs/test_binary_vector.py
  python/python/tests/docs/test_guide_index.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_table.py
  python/python/tests/test_util.py
Labels: enhancement, Python, breaking-change

#1972 feat(python): support .rerank() on non-hybrid queries in Async API (WIP)
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#2000 feat!: change default from postfiltering to prefiltering for sync python
  python/python/lancedb/query.py
  python/python/tests/test_query.py
Labels: enhancement, Python, breaking-change

#2004 feat: expose dataset config
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#2008 ci: add `dbghelp.lib` to sysroot-aarch64-pc-windows-msvc.sh (#1975)
  .github/workflows/npm-publish.yml
  ci/sysroot-aarch64-pc-windows-msvc.sh
Labels: ci

#2010 docs: update storage.md, fix Azure Sync connect example
  docs/src/guides/storage.md
Labels: documentation

#2011 feat: upgrade to lance 0.22.0b1
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/examples/full_text_search.rs
Labels: enhancement, Python, Rust

#2013 fix: broken voyageai embedding API
  python/python/lancedb/embeddings/voyageai.py
Labels: bug, Python

#2015 docs(hnsw): fix markdown list style
  docs/src/concepts/index_hnsw.md
Labels: documentation

#2003 chore: add deprecation warning to vectordb
  node/README.md
Labels: typescript, chore

#2017 feat: upgrade Lance to v0.22.0
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2018 chore: fix test of error message
  nodejs/__test__/table.test.ts
Labels: chore

#2019 ci: fix stable check
  ci/validate_stable_lance.py
Labels: ci

#2020 docs: show how to pack bits for binary vector
  python/python/tests/docs/test_binary_vector.py
Labels: documentation, Python

#2025 docs: add missing example code
  python/python/tests/docs/test_multivector.py
Labels: documentation, Python

#2027 fix: missing distance type for auto index on RemoteTable
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#2029 feat: upgrade lance 0.22.1b1
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2026 fix: can't infer the vector column for multivector
  python/python/tests/docs/test_multivector.py
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Labels: bug, Python, Rust

#2038 chore: upgrade lance to v0.22.1-beta.3
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#2035 fix: linear reranker applies wrong score to combine
  python/python/lancedb/rerankers/linear_combination.py
  python/python/tests/test_rerankers.py
Labels: bug, Python

#2039 feat: add `drop_index()` method
  docs/src/js/README.md
  docs/src/js/_media/CONTRIBUTING.md
  docs/src/js/classes/Table.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/globals.md
  docs/src/js/interfaces/IvfPqOptions.md
  docs/src/js/namespaces/rerankers/README.md
  docs/src/js/namespaces/rerankers/classes/RRFReranker.md
  docs/src/js/namespaces/rerankers/interfaces/Reranker.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/python/lancedb/table.py
  python/python/tests/test_index.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2040 docs: claim LanceDB supports float16/float32/float64 for multivector
  docs/src/search.md
  python/python/lancedb/query.py
  python/python/tests/docs/test_multivector.py
  python/python/tests/test_query.py
Labels: documentation, Python

#2048 fix(python): various fixes for async query builders
  docs/src/python/python.md
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/arrow.py
  python/python/lancedb/query.py
  python/python/tests/test_hybrid_query.py
  python/python/tests/test_query.py
  python/src/arrow.rs
  python/src/lib.rs
Labels: bug, Python

#2052 chore: replace the util to lance's
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Labels: Rust, chore

#2053 docs: clarify the arguments for `replace_field_metadata`
  rust/lancedb/src/table.rs
Labels: documentation, Rust

#2063 feat: upgrade lance to v0.23.0-beta.2
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2061 fix(python): preserve original distance and score in hybrid queries
  python/python/lancedb/query.py
  python/python/tests/test_hybrid_query.py
  python/python/tests/test_rerankers.py
Labels: bug, Python

#2064 ci(python): stop using deprecated 2_24 manylinux for arm
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/pypi-publish.yml
Labels: ci

#2044 docs: pandas example
  docs/src/notebooks/tables_guide.ipynb
Labels: documentation

#2065 fix(node): `createTable()` should save embeddings, and `mergeInsert` should use them
  nodejs/__test__/embedding.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
Labels: bug

#2073 feat: add `distance_type()` parameter to python sync query builders and `metric()` as an alias
  python/python/lancedb/query.py
  python/python/tests/docs/test_binary_vector.py
  python/python/tests/docs/test_search.py
  python/python/tests/test_query.py
  python/python/tests/test_remote_db.py
  python/python/tests/test_table.py
Labels: enhancement, Python

#2074 feat: upgrade lance to v0.23.0-beta.3
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2075 ci(rust): caching improvements (up to 2.8x faster builds)
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
Labels: ci

#2079 docs: clarify upper case characters in column names need to be escaped
  docs/src/sql.md
Labels: documentation

#2081 ci: fix arm64 windows cross compile build
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  rust/lancedb/Cargo.toml
Labels: Rust, ci

#2084 ci(node): check docs in CI
  .github/workflows/nodejs.yml
  Cargo.lock
  docs/src/js/README.md
  docs/src/js/classes/Connection.md
  docs/src/js/classes/Index.md
  docs/src/js/classes/MergeInsertBuilder.md
  docs/src/js/classes/Query.md
  docs/src/js/classes/QueryBase.md
  docs/src/js/classes/Table.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/enumerations/WriteMode.md
  docs/src/js/functions/connect.md
  docs/src/js/functions/makeArrowTable.md
  docs/src/js/globals.md
  docs/src/js/interfaces/CompactionStats.md
  docs/src/js/interfaces/FtsOptions.md
  docs/src/js/interfaces/FullTextSearchOptions.md
  docs/src/js/interfaces/HnswPqOptions.md
  docs/src/js/interfaces/HnswSqOptions.md
  docs/src/js/interfaces/OpenTableOptions.md
  docs/src/js/interfaces/OptimizeStats.md
  docs/src/js/interfaces/QueryExecutionOptions.md
  docs/src/js/interfaces/RemovalStats.md
  docs/src/js/interfaces/Version.md
  docs/src/js/interfaces/WriteOptions.md
  docs/src/js/namespaces/embedding/README.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunction.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunctionRegistry.md
  docs/src/js/namespaces/embedding/classes/TextEmbeddingFunction.md
  docs/src/js/namespaces/embedding/functions/LanceSchema.md
  docs/src/js/namespaces/embedding/functions/register.md
  docs/src/js/namespaces/embedding/interfaces/EmbeddingFunctionConstructor.md
  docs/src/js/namespaces/embedding/interfaces/EmbeddingFunctionCreate.md
  docs/src/js/namespaces/embedding/interfaces/FieldOptions.md
  docs/src/js/namespaces/embedding/interfaces/FunctionOptions.md
  docs/src/js/namespaces/embedding/type-aliases/CreateReturnType.md
  docs/src/js/namespaces/rerankers/classes/RRFReranker.md
  docs/src/js/type-aliases/DataLike.md
  docs/src/js/type-aliases/FieldLike.md
  docs/src/js/type-aliases/IntoSql.md
  docs/src/js/type-aliases/IntoVector.md
  docs/src/js/type-aliases/RecordBatchLike.md
  docs/src/js/type-aliases/SchemaLike.md
  docs/src/js/type-aliases/TableLike.md
  nodejs/README.md
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/index.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/indices.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/rerankers/rrf.ts
  nodejs/lancedb/table.ts
  nodejs/package.json
  nodejs/src/lib.rs
  nodejs/typedoc.json
  nodejs/typedoc_post_process.js
Labels: ci

#2086 fix(rust): add embedding_registry on open_table
  rust/lancedb/src/connection.rs
  rust/lancedb/tests/embedding_registry_test.rs
Labels: bug, Rust

#2083 docs: user guide for merge insert
  docs/src/guides/tables.md
  docs/src/guides/tables/merge_insert.md
  docs/test/md_testing.py
  nodejs/examples/ann_indexes.test.ts
  nodejs/examples/basic.test.ts
  nodejs/examples/biome.json
  nodejs/examples/custom_embedding_function.test.ts
  nodejs/examples/merge_insert.test.ts
  nodejs/examples/sentence-transformers.test.ts
  nodejs/examples/util.ts
  python/python/lancedb/table.py
  python/python/tests/docs/test_merge_insert.py
Labels: documentation, Python

#2087 docs: add sync/async tabs to quickstart
  docs/src/basic.md
  docs/src/search.md
  python/python/tests/docs/test_basic.py
Labels: documentation, Python
