Repository lancedb/lancedb, pull requests merged in 2025-03, with the labels that each got.

#2169 ci: bump python to 3.12 in GHA
  .github/workflows/python.yml
Labels: ci

#2171 chore: upgrade lance to 0.24.0-beta.1
  Cargo.lock
  Cargo.toml
Labels: chore

#2148 feat(rust): introduce Catalog trait and implement ListingCatalog
  .github/workflows/rust.yml
  rust/lancedb/src/catalog.rs
  rust/lancedb/src/catalog/listing.rs
  rust/lancedb/src/error.rs
  rust/lancedb/src/lib.rs
Labels: enhancement, Rust

#2178 feat: support modifying field metadata in lancedb python
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
Labels: enhancement, Python

#2175 feat: add support for streaming input to create_table
  rust/lancedb/src/arrow.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#2187 feat: respect datafusion's batch size when running as a table provider
  Cargo.lock
  rust/lancedb/src/table/datafusion.rs
Labels: enhancement, Rust

#2167 fix(python): typing
  .github/workflows/python.yml
  .pre-commit-config.yaml
  ci/parse_requirements.py
  pyright_report.csv
  python/CONTRIBUTING.md
  python/Makefile
  python/pyproject.toml
  python/python/lancedb/__init__.py
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/db.py
  python/python/lancedb/table.py
  python/python/lancedb/types.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_hybrid_query.py
  python/python/tests/test_query.py
  python/python/tests/test_rerankers.py
Labels: bug, Python

#2194 fix: delete tables from DDB on drop_all_tables
  nodejs/__test__/s3_integration.test.ts
  python/Makefile
  python/python/tests/test_s3.py
  rust/lancedb/src/database/listing.rs
Labels: bug, Python, Rust

#2199 feat: upgrade to lance 0.24.1
  Cargo.lock
  Cargo.toml
  python/Cargo.toml
  python/pyproject.toml
  python/src/error.rs
  python/src/index.rs
  python/src/table.rs
Labels: enhancement, Python

#2204 fix: restore pylance as mandatory dependency
  python/pyproject.toml
Labels: bug, Python

#2177 feat(rust): add connect_catalog method to support connect catalog via url
  rust/lancedb/src/catalog.rs
  rust/lancedb/src/connection.rs
Labels: enhancement, Rust

#2118 docs: fix docstring of EmbeddingFunction
  python/python/lancedb/embeddings/base.py
Labels: documentation, Python

#2115 docs: use bypass_vector_index() instead of use_index=false
  docs/src/sql.md
Labels: documentation

#2208 feat(node): parse arrow types in `alterColumns()`
  Cargo.lock
  docs/src/guides/tables.md
  docs/src/js/interfaces/ColumnAlteration.md
  nodejs/__test__/table.test.ts
  nodejs/examples/basic.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/table.ts
  python/python/tests/docs/test_basic.py
  rust/lancedb/src/utils.rs
Labels: enhancement, Python, Rust

#2127 fix: use Self return type annotation for abstract query builder
  python/python/lancedb/query.py
Labels: bug, Python

#2122 fix: metric type inconsistency
  Cargo.lock
  docs/openapi.yml
  docs/src/ann_indexes.md
  docs/src/concepts/index_hnsw.md
  docs/src/concepts/index_ivfpq.md
  docs/src/embeddings/understanding_embeddings.md
  docs/src/integrations/langchain.md
  docs/src/integrations/llamaIndex.md
  docs/src/javascript/enums/MetricType.md
  docs/src/javascript/interfaces/IvfPQIndexConfig.md
  docs/src/js/interfaces/HnswPqOptions.md
  docs/src/js/interfaces/HnswSqOptions.md
  docs/src/js/interfaces/IvfPqOptions.md
  docs/src/search.md
  node/src/index.ts
  nodejs/lancedb/indices.ts
  python/python/lancedb/index.py
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/python/tests/test_table.py
  rust/lancedb/examples/ivf_pq.rs
  rust/lancedb/src/lib.rs
Labels: bug, typescript, Python, Rust

#2220 feat: upgrade lance to 0.25.0-beta2
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2222 fix: insert structs in non-alphabetical order
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Labels: bug, Python

#2226 refactor: remove dataset reference from base table
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: Rust

#2213 refactor: rework catalog/database options
  rust/lancedb/src/catalog/listing.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/db.rs
Labels: Rust

#2235 docs: add cloud & enterprise cta
  docs/mkdocs.yml
  docs/src/examples/index.md
  docs/src/index.md
Labels: documentation

#2241 ci: drop vectordb support for musl, windows ARM
  .bumpversion.toml
  .github/workflows/npm-publish.yml
  node/package-lock.json
  node/package.json
Labels: typescript, ci

#2231 docs: add late interaction, multi-vector guide & link example
  docs/mkdocs.yml
  docs/src/guides/multi-vector.md
  docs/src/notebooks/Multivector_on_LanceDB.ipynb
Labels: documentation

#2244 fix(nodejs): workaround for apache-arrow null vector issue
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
Labels: bug

#2248 feat: upgrade to lance v0.25.0-beta.5
  Cargo.lock
  Cargo.toml
  docs/src/js/interfaces/IndexStatistics.md
  nodejs/__test__/table.test.ts
  nodejs/src/table.rs
  python/python/lancedb/table.py
  python/python/tests/test_index.py
  python/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2253 fix: correct rust install docs
  rust/lancedb/src/lib.rs
Labels: bug, Rust

#2223 ci: refactor node releases
  .cargo/config.toml
  .github/workflows/npm-publish.yml
  Cargo.lock
  ci/build_linux_artifacts_nodejs.sh
  ci/build_macos_artifacts_nodejs.sh
  ci/manylinux_node/Dockerfile
  ci/manylinux_node/build_lancedb.sh
  ci/manylinux_node/build_vectordb.sh
  ci/manylinux_node/install_openssl.sh
  docs/src/js/README.md
  nodejs/.npmignore
  nodejs/Cargo.toml
  nodejs/README.md
  nodejs/package.json
Labels: Python, Rust, ci

#2221 feat: support binary vector and IVF_FLAT in TypeScript
  docs/src/js/classes/Index.md
  docs/src/js/functions/packBits.md
  docs/src/js/globals.md
  docs/src/js/interfaces/IvfFlatOptions.md
  docs/src/search.md
  nodejs/__test__/table.test.ts
  nodejs/examples/search.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/indices.ts
  nodejs/lancedb/util.ts
  nodejs/src/index.rs
Labels: enhancement

#2239 feat: add to_query_object method
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/python/tests/test_remote_db.py
  python/src/query.rs
  rust/lancedb/src/rerankers.rs
Labels: enhancement, Python, Rust

#2257 ci(node): setup URL so auth token is picked up
  .github/workflows/npm-publish.yml
Labels: ci

#2245 ci: allow dry run on PR to Python release
  .github/workflows/pypi-publish.yml
Labels: ci

#2258 feat(python): warn on fork
  docs/src/troubleshooting.md
  python/python/lancedb/__init__.py
Labels: enhancement, Python

#2259 docs: replace Lancedb Cloud link
  docs/src/cloud/index.md
  docs/src/guides/tables.md
  docs/src/index.md
Labels: documentation

#2261 docs: add banner for LanceDB Cloud in public beta
  README.md
Labels: documentation

#2262 docs: replace banner as an image
  README.md
Labels: documentation

#2265 fix: handle light and dark mode logo
  README.md
Labels: bug

#2117 fix: answerdotai rerankers argument passing
  python/python/lancedb/rerankers/answerdotai.py
Labels: bug, Python

#2273 fix: update Query pydoc
  python/python/lancedb/query.py
Labels: bug, Python

#2270 fix(java): add .gitignore file
  java/.gitignore
Labels: bug

#2269 fix(java): make test work for jdk8
  java/pom.xml
Labels: bug

#2276 feat: upgrade lance to v0.25.1-beta.3
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2263 feat: add explain plan remote api
  Cargo.lock
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/src/query.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#2278 chore(java): introduce spotless plugin
  java/core/src/main/java/com/lancedb/lancedb/Connection.java
  java/core/src/test/java/com/lancedb/lancedb/ConnectionTest.java
  java/pom.xml
Labels: chore

#2282 feat: add restore remote api
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#2277 chore(java): make rust release to be a switch option
  .github/workflows/java-publish.yml
  java/core/pom.xml
Labels: chore

#2284 feat: add columns using pyarrow schema
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
Labels: enhancement, Python

#2281 feat!: change default read_consistency_interval=5s
  docs/src/guides/tables.md
  docs/src/js/interfaces/ConnectionOptions.md
  docs/src/troubleshooting.md
  node/src/integration_test/test.ts
  nodejs/__test__/connection.test.ts
  nodejs/__test__/table.test.ts
  nodejs/examples/basic.test.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  python/python/lancedb/__init__.py
  python/python/lancedb/db.py
  python/python/tests/docs/test_guide_tables.py
  python/python/tests/test_db.py
  python/python/tests/test_table.py
  python/src/connection.rs
  rust/ffi/node/src/lib.rs
  rust/lancedb/src/catalog/listing.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/dataset.rs
Labels: enhancement, typescript, Python, Rust, breaking-change

#2280 feat: add analyze_plan api
  Cargo.lock
  docs/src/js/classes/Query.md
  docs/src/js/classes/QueryBase.md
  docs/src/js/classes/VectorQuery.md
  docs/src/troubleshooting.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_hybrid_query.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2291 fix: fix remote restore api to always checkout latest version
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#2292 ci: deprecate vectordb each release
  .github/workflows/npm-publish.yml
Labels: ci
