Repository lancedb/lancedb, pull requests merged in 2025-08, with the labels that each got.

#2558 fix: use SPDX-compliant license name for nodejs packages
  nodejs/examples/package-lock.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-arm64-musl/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/linux-x64-musl/package.json
  nodejs/npm/win32-arm64-msvc/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package-lock.json
  nodejs/package.json
Labels: bug

#2499 feat(embeddings): add siglip embedding support to lancedb
  python/.gitignore
  python/pyproject.toml
  python/python/lancedb/__init__.py
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/siglip.py
  python/python/tests/test_embeddings_slow.py
Labels: enhancement, Python

#2585 ci: fix broken CI checks
  .github/workflows/nodejs.yml
  nodejs/examples/ann_indexes.test.ts
  python/python/lancedb/query.py
  python/python/tests/test_table.py
Labels: Python, Rust, ci

#2592 fix: limit and offset support paginating through FTS and vector search results
  nodejs/__test__/table.test.ts
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Labels: bug, Rust

#2595 ci: remove more mentions of node
  .github/workflows/docs.yml
  .gitignore
  CLAUDE.md
  ci/update_lockfiles.sh
Labels: ci

#2568 fix: make cloud features optional (#2567)
  Cargo.toml
  ci/set_lance_version.py
  java/core/lancedb-jni/Cargo.toml
  nodejs/Cargo.toml
  python/Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
Labels: bug, Python, Rust

#2598 feat: upgrade lance to 0.33.0-beta.3
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2599 feat(python): integrate with lance namespace
  python/pyproject.toml
  python/python/lancedb/__init__.py
  python/python/lancedb/namespace.py
  python/python/tests/test_namespace.py
Labels: enhancement, Python

#2604 chore: upgrade lance to 0.33.0-beta.4
  Cargo.lock
  Cargo.toml
Labels: chore

#2596 feat: add __getitems__ method impl for torch integration
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/python/tests/test_torch.py
Labels: enhancement, Python

#2603 feat!: support multi-level namespace
  nodejs/lancedb/connection.ts
  nodejs/src/connection.rs
  nodejs/src/remote.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/namespace.py
  python/python/lancedb/remote/__init__.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
  python/python/tests/test_namespace.py
  python/src/connection.rs
  rust/lancedb/examples/simple.rs
  rust/lancedb/src/catalog/listing.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/tests/object_store_test.rs
Labels: enhancement, Python, Rust, breaking-change
