Repository lancedb/lancedb, pull requests merged in 2025-05, with the labels that each got.

#2355 fix: prevent embedded objects from returning null in all of their fields
  Cargo.lock
  nodejs/__test__/arrow.test.ts
  nodejs/lancedb/arrow.ts
Labels: bug

#2192 chore: upgrade pyarrow pin
  .github/workflows/python.yml
  python/pyproject.toml
Labels: Python, chore

#2368 feat: return version for all write operations
  docs/src/js/classes/MergeInsertBuilder.md
  docs/src/js/classes/Table.md
  docs/src/js/globals.md
  docs/src/js/interfaces/AddColumnsResult.md
  docs/src/js/interfaces/AddResult.md
  docs/src/js/interfaces/AlterColumnsResult.md
  docs/src/js/interfaces/DeleteResult.md
  docs/src/js/interfaces/DropColumnsResult.md
  docs/src/js/interfaces/MergeResult.md
  docs/src/js/interfaces/MergeStats.md
  docs/src/js/interfaces/UpdateResult.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
  nodejs/src/merge.rs
  nodejs/src/table.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/merge.py
  python/python/lancedb/pydantic.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/docs/test_merge_insert.py
  python/python/tests/test_table.py
  python/src/lib.rs
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/merge.rs
Labels: enhancement, Python, Rust

#2373 chore: reduce unneeded API calls for return version for write operations and improve test
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: Rust, chore

#2375 fix: fix backward compatibility with the add API
  Cargo.lock
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: bug, Rust

#2376 chore: run cargo update
  Cargo.lock
Labels: chore

#2374 fix: add restore with tag in python and nodejs API
  nodejs/__test__/table.test.ts
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
Labels: bug, Python

#2379 fix: support __len__ on remote table
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
Labels: bug, Python

#2380 fix: return IndexNotExist on remote drop index 404
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#2378 feat: provide timeout parameter for merge_insert
  Cargo.lock
  Cargo.toml
  docs/src/js/classes/MergeInsertBuilder.md
  docs/src/js/globals.md
  docs/src/js/interfaces/WriteExecutionOptions.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/merge.ts
  nodejs/src/merge.rs
  python/python/lancedb/merge.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/merge.rs
Labels: enhancement, Python, Rust

#2377 chore: add default for result structs
  rust/lancedb/src/table.rs
Labels: Rust, chore

#2383 docs: add genkit integration docs
  docs/mkdocs.yml
  docs/src/integrations/genkit.md
Labels: documentation

#2388 chore: update lance to 0.27.1-beta.1
  Cargo.lock
  Cargo.toml
Labels: chore

#2391 docs: add logos in genkit docs page
  docs/src/integrations/genkit.md
Labels: documentation

#2397 chore: bump lance version
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
Labels: Rust, chore

#2398 chore: use stable lance
  Cargo.lock
  Cargo.toml
Labels: chore

#2401 docs: update the `num_partitions` recommendation
  Cargo.lock
  docs/src/ann_indexes.md
Labels: documentation

#2414 feat: upgrade lance to v0.29.0-beta.1
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2413 fix: avoid failing list_indices for any unknown index
  rust/lancedb/src/table.rs
Labels: bug, Rust

#2415 ci: revert unnecessary version bump
  Cargo.lock
  nodejs/Cargo.toml
  nodejs/package.json
  python/Cargo.toml
  rust/lancedb/Cargo.toml
Labels: Python, Rust, ci
