Repository lancedb/lancedb, pull requests merged in 2025-02, with the labels that each got.

#2089 feat: upgrade lance to 0.23.0-beta.4
  Cargo.lock
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2092 chore: bump lance version
  Cargo.lock
  Cargo.toml
  python/pyproject.toml
Labels: Python, chore

#2067 feat!: refactor ConnectionInternal into a Database trait
  .pre-commit-config.yaml
  Cargo.lock
  docs/src/js/interfaces/CreateTableOptions.md
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/src/connection.rs
  python/.gitignore
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/tests/test_db.py
  python/src/connection.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust, breaking-change

#2097 feat: expose table trait
  Cargo.lock
  Cargo.toml
  python/src/query.rs
  rust/lancedb/Cargo.toml
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/datafusion.rs
  rust/lancedb/src/table/merge.rs
Labels: enhancement, Python, Rust

#2098 refactor: rename drop_db / drop_database to drop_all_tables, expose database from connection
  docs/src/js/classes/Connection.md
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/src/connection.rs
  python/python/lancedb/db.py
  python/python/tests/test_db.py
  python/src/connection.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote/db.rs
Labels: Python, Rust, breaking-change

#2099 fix: ensure metadata erased from schema call in table provider
  Cargo.lock
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/table/datafusion.rs
Labels: bug, Rust

#2101 feat: upgrade Lance to 0.23.0
  Cargo.lock
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Python, Rust, breaking-change

#2100 feat(node): support inserting and upserting subschemas
  docs/src/js/functions/makeArrowTable.md
  nodejs/__test__/arrow.test.ts
  nodejs/__test__/table.test.ts
  nodejs/examples/full_text_search.test.ts
  nodejs/lancedb/arrow.ts
Labels: enhancement

#2102 feat: update lance dependency to 0.23.1-beta.1
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2109 chore: upgrade lance to 0.23.1-beta.2
  Cargo.lock
  Cargo.toml
Labels: chore

#2080 docs: standardize node example prints
  docs/src/ann_indexes.ts
  docs/src/basic_legacy.ts
  docs/src/search_legacy.ts
  docs/src/sql_legacy.ts
Labels: documentation

#2108 fix: fix index out of bound in load indices
  rust/lancedb/src/table.rs
Labels: bug, Rust

#2088 chore: improve dev instructions for Python
  python/Makefile
  python/python/tests/test_embeddings.py
  python/python/tests/test_remote_db.py
Labels: Python, chore

#2116 fix: panic when field id doesn't equal to field index
  Cargo.lock
  rust/lancedb/src/index/vector.rs
Labels: bug, Rust

#2121 feat: upgrade lance to 0.23.1-beta.4
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2130 fix: support optional nested pydantic model
  python/python/lancedb/pydantic.py
  python/python/tests/test_pydantic.py
Labels: bug, Python

#2045 feat: support multivector on remote table
  Cargo.lock
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Rust

#2137 chore: update Cargo.lock
  Cargo.lock
Labels: chore

#2139 fix: handle batch quires in single request
  python/python/tests/test_remote_db.py
Labels: bug, Python

#2136 docs: improve pydantic integration docs
  docs/mkdocs.yml
  docs/src/python/pydantic.md
  docs/test/md_testing.py
  python/python/lancedb/pydantic.py
  python/python/tests/docs/test_pydantic_integration.py
Labels: documentation, Python

#2144 fix: flat FTS panic with prefilter and update lance
  Cargo.lock
  Cargo.toml
Labels: bug

#2145 fix: remote table doesn't apply the prefilter flag for FTS
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#2049 feat(python): add search() method to async API
  docs/src/python/polars_arrow.md
  python/python/lancedb/table.py
  python/python/tests/docs/test_binary_vector.py
  python/python/tests/docs/test_distance_range.py
  python/python/tests/docs/test_embeddings_optional.py
  python/python/tests/docs/test_guide_index.py
  python/python/tests/docs/test_python.py
  python/python/tests/docs/test_search.py
  python/python/tests/test_query.py
  python/python/tests/test_remote_db.py
Labels: enhancement, Python

#2112 feat!: add variable store to embeddings registry
  docs/mkdocs.yml
  docs/src/embeddings/custom_embedding_function.md
  docs/src/embeddings/variables_and_secrets.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunction.md
  docs/src/js/namespaces/embedding/classes/EmbeddingFunctionRegistry.md
  docs/src/js/namespaces/embedding/classes/TextEmbeddingFunction.md
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/registry.test.ts
  nodejs/__test__/table.test.ts
  nodejs/examples/embedding.test.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/embedding/transformers.ts
  python/python/lancedb/embeddings/base.py
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/embeddings/openai.py
  python/python/lancedb/embeddings/registry.py
  python/python/lancedb/embeddings/watsonx.py
  python/python/tests/docs/test_embeddings_optional.py
  python/python/tests/test_embeddings.py
  python/python/tests/test_rerankers.py
  python/python/tests/test_table.py
  python/python/tests/test_util.py
Labels: enhancement, Python, breaking-change

#2150 docs: fixes is_open docstring on AsyncTable
  python/python/lancedb/table.py
Labels: documentation, Python

#2128 feat: push filters down into DF table provider
  Cargo.lock
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/datafusion.rs
Labels: enhancement, Python, Rust

#2152 feat: upgrade lance to 0.23.2
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  python/pyproject.toml
Labels: enhancement, Python

#2153 chore: upgrade lance to v0.23.3-beta.1
  Cargo.lock
  Cargo.toml
Labels: Python, chore

#2151 feat!: revert query limit to be unbounded for scans
  nodejs/__test__/table.test.ts
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
  python/python/tests/test_table.py
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust, breaking-change

#2157 feat: reapply upgrade lance to v0.23.3-beta.1
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2156 feat(python): drop hard dependency on pylance
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/table.py
Labels: enhancement, Python

#2162 fix: don't use with_schema to remove schema metadata
  Cargo.lock
  rust/lancedb/src/table/datafusion.rs
Labels: bug, Rust

#2149 chore: add reo integration
  docs/mkdocs.yml
  docs/src/extra_js/reo.js
Labels: chore
