Repository lancedb/lancedb, pull requests merged in 2025-04, with the labels that each got.

#2294 feat: update to lance 0.25.3b1
  Cargo.lock
  Cargo.toml
  docs/src/js/classes/BoostQuery.md
  docs/src/js/classes/MatchQuery.md
  docs/src/js/classes/MultiMatchQuery.md
  docs/src/js/classes/PhraseQuery.md
  docs/src/js/classes/Query.md
  docs/src/js/classes/QueryBase.md
  docs/src/js/classes/VectorQuery.md
  docs/src/js/enumerations/FullTextQueryType.md
  docs/src/js/globals.md
  docs/src/js/interfaces/FullTextQuery.md
  nodejs/lancedb/index.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  nodejs/src/util.rs
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
  python/src/query.rs
  python/src/util.rs
  rust/lancedb/src/index/scalar.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Python, Rust

#2297 feat: allow FSB to be used for btree indices
  Cargo.lock
  python/python/tests/test_index.py
  rust/lancedb/src/utils.rs
Labels: enhancement, Python, Rust

#2296 ci: fix lancedb musl builds
  .github/workflows/npm-publish.yml
  Cargo.lock
  node/package-lock.json
  nodejs/package-lock.json
  nodejs/package.json
Labels: typescript, ci

#2300 fix: can't do structured FTS in python
  python/python/lancedb/query.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
  python/src/query.rs
  rust/lancedb/src/remote/table.rs
Labels: bug, Python, Rust

#2304 feat: upgrade lance to 0.25.3b2
  Cargo.lock
  Cargo.toml
Labels: enhancement

#2299 ci: check release builds when we change dependencies
  .github/workflows/npm-publish.yml
  .github/workflows/pypi-publish.yml
Labels: ci

#2308 chore: add numpy as dependency
  python/pyproject.toml
Labels: Python, chore

#2288 feat: add timeout to query execution options
  Cargo.lock
  docs/src/js/interfaces/QueryExecutionOptions.md
  node/package-lock.json
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Labels: enhancement, typescript, Python, Rust

#2310 perf: remove redundant checkout latest
  rust/lancedb/src/connection.rs
  rust/lancedb/src/io/object_store.rs
  rust/lancedb/src/io/object_store/io_tracking.rs
  rust/lancedb/src/table/dataset.rs
Labels: Rust, performance

#2309 ci: provide token for deprecate call
  .github/workflows/npm-publish.yml
Labels: ci

#2268 fix(python): voyageai regression multimodal supercedes text models
  python/pyproject.toml
  python/python/lancedb/embeddings/voyageai.py
  python/python/tests/test_embeddings_slow.py
Labels: bug, Python

#2317 feat: support to create FTS index on list of strings
  Cargo.lock
  Cargo.toml
  nodejs/__test__/table.test.ts
  python/python/tests/test_fts.py
  rust/lancedb/src/utils.rs
Labels: enhancement, Python, Rust

#2313 fix: robust handling of empty result when reranking
  python/python/lancedb/rerankers/answerdotai.py
  python/python/lancedb/rerankers/base.py
  python/python/lancedb/rerankers/cohere.py
  python/python/lancedb/rerankers/cross_encoder.py
  python/python/lancedb/rerankers/jinaai.py
  python/python/lancedb/rerankers/openai.py
  python/python/lancedb/rerankers/voyageai.py
  python/python/tests/test_rerankers.py
Labels: bug, Python

#2312 chore: fix 1.86 warnings
  Cargo.lock
  python/src/query.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/data/inspect.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/rerankers.rs
  rust/lancedb/src/table.rs
Labels: Python, Rust, chore

#2331 chore: cargo update on main
  Cargo.lock
Labels: chore

#2336 fix(python): add pylance as its own optional dependency
  python/pyproject.toml
Labels: bug, Python

#2324 docs: remove trailing commas from AWS IAM Policies
  docs/src/guides/storage.md
Labels: documentation

#2321 docs: intended path relative links
  docs/README.md
Labels: documentation

#2342 feat: add prewarm_index function
  Cargo.lock
  Cargo.toml
  docs/src/js/classes/Table.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
  nodejs/src/query.rs
  nodejs/src/table.rs
  python/pyproject.toml
  python/python/lancedb/table.py
  python/python/tests/test_index.py
  python/src/table.rs
  python/src/util.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2170 feat: add ColPali embedding support with MultiVector type
  python/pyproject.toml
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/colpali.py
  python/python/lancedb/embeddings/utils.py
  python/python/lancedb/pydantic.py
  python/python/tests/test_embeddings_slow.py
  python/python/tests/test_pydantic.py
  python/python/tests/test_query.py
Labels: enhancement, Python

#2338 feat: add new table API to wait for async indexing
  Cargo.lock
  docs/src/js/classes/Table.md
  docs/src/js/interfaces/IndexOptions.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/indices.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
  python/src/table.rs
  rust/lancedb/src/error.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/index/waiter.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2334 docs: make table.update() nodejs guide consistent with API documentation
  docs/src/guides/tables.md
Labels: documentation

#2346 fix(python): make sure pandas is optional
  .github/workflows/python.yml
  python/python/lancedb/common.py
  python/python/tests/test_table.py
Labels: bug, Python

#2349 feat: add retries to remote client for requests with stream bodies
  Cargo.lock
  rust/lancedb/src/index/waiter.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/remote/retry.rs
  rust/lancedb/src/remote/table.rs
Labels: enhancement, Rust

#2351 ci: fix docs deploy
  .github/workflows/docs.yml
Labels: ci

#2354 fix: remote limit to avoid "Limit must be non-negative"
  Cargo.lock
  rust/lancedb/src/remote/table.rs
Labels: bug, Rust

#2356 fix: sync hybrid search ignores the distance range params
  python/python/lancedb/query.py
  python/python/tests/test_hybrid_query.py
  python/src/query.rs
Labels: bug, Python

#2359 feat: upgrade Lance to v0.26.0
  Cargo.lock
  Cargo.toml
  nodejs/Cargo.toml
  rust/lancedb/src/catalog/listing.rs
  rust/lancedb/src/database/listing.rs
Labels: enhancement, Rust

#2360 fix: hybrid search explain plan analyze plan
  python/python/lancedb/query.py
Labels: bug, Python

#2353 feat: add list/create/delete/update/checkout tag API
  Cargo.lock
  docs/src/js/classes/Table.md
  docs/src/js/classes/TagContents.md
  docs/src/js/classes/Tags.md
  docs/src/js/globals.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/dataset.rs
Labels: enhancement, Python, Rust

#2363 feat: add table stats API
  Cargo.lock
  docs/src/js/classes/Table.md
  docs/src/js/globals.md
  docs/src/js/interfaces/FragmentStatistics.md
  docs/src/js/interfaces/FragmentSummaryStats.md
  docs/src/js/interfaces/TableStatistics.md
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_remote_db.py
  python/python/tests/test_table.py
  python/src/table.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Labels: enhancement, Python, Rust

#2364 feat: upgrade lance to v0.27.0-beta.2
  Cargo.lock
  Cargo.toml
Labels: enhancement
