Repository lancedb/lancedb, pull requests merged in 2025-10, with the labels that each got.

#2695 feat: upgrade lance to 0.38.0
  Cargo.lock
  Cargo.toml
  rust/lancedb/src/data/inspect.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote/db.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/table/datafusion.rs
  rust/lancedb/src/table/dataset.rs
  rust/lancedb/src/utils.rs
Labels: enhancement, Rust, chore

#2697 ci: run remote tests on PRs only if they aren't a fork
  .github/workflows/rust.yml
Labels: ci

#2699 fix: use stdlib override when possible
  python/pyproject.toml
  python/python/lancedb/db.py
  python/python/lancedb/namespace.py
  python/python/lancedb/remote/db.py
Labels: bug, Python

#2660 fix: add name to index config and fix create_index typing
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/remote/table.py
Labels: bug, Python
