Repository lancedb/lancedb, pull requests merged in 2025-09, with the labels that each got.

#2622 fix!: fix doctest in query.py
  python/python/lancedb/query.py
Labels: bug, Python, breaking-change

#2620 fix: remote python sdk namespace typing
  python/python/lancedb/db.py
  python/python/lancedb/namespace.py
  python/python/lancedb/remote/db.py
  python/python/tests/test_db.py
  python/python/tests/test_namespace.py
Labels: bug, Python

#2621 chore: upgrade lance to 0.34.0-beta.4
  Cargo.lock
  Cargo.toml
  nodejs/src/query.rs
  rust/lancedb/src/io/object_store.rs
  rust/lancedb/src/io/object_store/io_tracking.rs
  rust/lancedb/src/table.rs
Labels: Rust, chore

#2637 fix: add partition statistics to MetadataEraser
  rust/lancedb/src/table/datafusion.rs
Labels: bug, Rust

#2638 feat: support mTLS for remote database
  nodejs/__test__/remote.test.ts
  nodejs/lancedb/index.ts
  nodejs/src/remote.rs
  python/python/lancedb/remote/__init__.py
  python/src/connection.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/client.rs
Labels: enhancement, Python, Rust

#2631 feat: support per-request header override
  .github/workflows/docs_test.yml
  Cargo.lock
  docs/src/js/classes/Connection.md
  docs/src/js/classes/HeaderProvider.md
  docs/src/js/classes/NativeJsHeaderProvider.md
  docs/src/js/classes/OAuthHeaderProvider.md
  docs/src/js/classes/StaticHeaderProvider.md
  docs/src/js/functions/connect.md
  docs/src/js/globals.md
  docs/src/js/interfaces/ClientConfig.md
  docs/src/js/interfaces/TokenResponse.md
  nodejs/__test__/remote.test.ts
  nodejs/lancedb/header.ts
  nodejs/lancedb/index.ts
  nodejs/package-lock.json
  nodejs/src/connection.rs
  nodejs/src/header.rs
  nodejs/src/lib.rs
  nodejs/src/remote.rs
  python/Cargo.toml
  python/python/lancedb/remote/__init__.py
  python/python/lancedb/remote/header.py
  python/python/tests/test_header_provider.py
  python/python/tests/test_remote_db.py
  python/src/connection.rs
  python/src/header.rs
  python/src/lib.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/remote.rs
  rust/lancedb/src/remote/client.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Python, Rust

#2659 fix: add missing validations to namespace operations
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/utils.rs
Labels: bug, Rust

#2655 fix(node): handle undefined vector fields with embedding functions
  nodejs/__test__/embedding.test.ts
  nodejs/lancedb/arrow.ts
Labels: bug

#2653 feat: support shallow clone
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/src/connection.rs
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/remote/db.py
  python/python/tests/test_db.py
  python/src/connection.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/listing.rs
  rust/lancedb/src/remote/db.rs
Labels: enhancement, Python, Rust

#2664 feat(rust): support namespace backed database
  Cargo.lock
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/database.rs
  rust/lancedb/src/database/namespace.rs
  rust/lancedb/src/lib.rs
Labels: enhancement, Rust

#2682 chore: upgrade lance to v0.37.1-beta.1
  Cargo.lock
  Cargo.toml
  rust/lancedb/src/database/listing.rs
Labels: Rust, chore

#2666 feat: add support for test_remote_connections
  .github/workflows/rust.yml
  Cargo.lock
  ci/create_lancedb_test_connection.sh
  ci/run_with_docker_compose.sh
  ci/run_with_test_connection.sh
  rust/lancedb/Cargo.toml
  rust/lancedb/Makefile
  rust/lancedb/src/connection.rs
  rust/lancedb/src/lib.rs
  rust/lancedb/src/test_connection.rs
Labels: enhancement, Rust
