Repository lancedb/lancedb, pull requests merged in 2025-06, with the labels that each got.

#2416 ci: automatically update Cargo.lock
  .github/workflows/make-release-commit.yml
  .github/workflows/nodejs.yml
  .github/workflows/npm-publish.yml
  Cargo.lock
  ci/update_lockfiles.sh
Labels: ci, chore

#2410 docs: announcement for Documentation
  docs/overrides/partials/main.html
Labels: documentation

#2419 feat: upgrade lance to v0.29.0-beta.2
  Cargo.lock
  Cargo.toml
  node/package-lock.json
  python/Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/full_text_search.rs
  rust/lancedb/src/embeddings/sentence_transformers.rs
Labels: enhancement, typescript, Python, Rust

#2420 feat: upgrade lance to stable version
  .github/workflows/make-release-commit.yml
  .github/workflows/npm-publish.yml
  Cargo.lock
  Cargo.toml
  ci/set_lance_version.py
  ci/update_lockfiles.sh
  node/package-lock.json
Labels: enhancement, typescript

#2422 ci: fix vectordb release
  .github/workflows/npm-publish.yml
  node/package-lock.json
Labels: typescript, ci

#2411 feat: support new FTS features in python SDK
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/query.py
  python/python/tests/test_fts.py
  python/python/tests/test_query.py
  python/src/query.rs
  python/src/util.rs
Labels: enhancement, Python

#2445 ci: try again to fix node lockfiles
  .github/workflows/npm-publish.yml
  node/package-lock.json
Labels: typescript, ci

#2441 feat: support prefix matching and must_not clause
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/docs/test_search.py
  python/src/query.rs
Labels: enhancement, Python, dont-merge

#2449 ci: fix package lock again
  .github/workflows/npm-publish.yml
  node/package-lock.json
Labels: typescript, ci

#2451 chore: upgrade lance to 0.30.0
  Cargo.lock
  Cargo.toml
Labels: chore

#2475 fix: expose parsing error coming from invalid object store uri
  rust/lancedb/src/catalog/listing.rs
Labels: bug, Rust

#2469 feat: upgrade to lance 0.31.0-beta.1
  Cargo.lock
  Cargo.toml
  node/package-lock.json
  python/src/query.rs
  rust/lancedb/src/io/object_store.rs
  rust/lancedb/src/io/object_store/io_tracking.rs
Labels: enhancement, typescript, Python, Rust
